I need to create a celestial bodies database using PostgreSQL for [this freeCodeCamp project](https://www.freecodecamp.org/learn/relational-database/build-a-celestial-bodies-database-project/build-a-celestial-bodies-database). The term "celestial bodies" refers to the planets, stars, moons, and other natural things found in space. The first step in creating a database with multiple tables is data preparation. 

In this notebook, I'll demonstrate how I prepared data. Every piece of information in the tables that I will build in this notebook has been gathered from the internet, so any corrections to the information provided here are greatly appreciated.

## Rules for celestial bodies database

*   The database should have **at least 5 tables**.
*   There must be a table of:
  *   galaxy ($\geq 6$ rows)
  *   star ($\geq 6$ rows)
  *   planet ($\geq 12$ rows)
  *   moon ($\geq 20$ rows)
*   Each **table** should have **at least 3 rows** and **3 columns**.
*   The galaxy, star, planet, and moon tables should each have at least 5 columns.

---

*   A primary key should be included in each table. The naming standard for primary key columns should be `table_name_id`. The `moon` table, for example, should include a primary key column called `moon_id`.
*   Each table should have a `name` column.

---

*   The **INT** data type must be used in **at least two columns** that are not the primary or foreign keys.
*   The **NUMERIC** data type must be used **at least once**.
*   The **TEXT** data type must be used **at least once**.
*   The **BOOLEAN** data type must be used in **at least two columns**.
*   At least 2 columns per table should not accept NULL values
*   At least 1 column from each table should be required to be UNIQUE

---

*   Each `star` should have a foreign key that references one of the rows in `galaxy`.
*   Each `planet` should have a foreign key that references one of the rows in `star`.
*   Each `moon` should have a foreign key that references one of the rows in `planet`.
*   Each foreign key column should have the same name as the column it is referencing.

## Creating the planet table

Now, let's use web scraping to obtain the planet table from [this Wikipedia page](https://en.wikipedia.org/wiki/Planet#Solar_System).

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

Web scraping code from [this website](https://medium.com/analytics-vidhya/web-scraping-a-wikipedia-table-into-a-dataframe-c52617e1f451).

In [2]:
# get the response in the form of html
wikiurl = "https://en.wikipedia.org/wiki/Planet#Solar_System"
table_class = "wikitable sortable jquery-tablesorter"
response = requests.get(wikiurl)
print(response.status_code)

200

 200 shows that you can go ahead and download it.

In [3]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
planets = soup.find_all('table',{'class':"wikitable"})
planets[2]

<table class="wikitable sortable" style="margin: 1em auto; text-align: center;">
<tbody><tr>
<th>
</th>
<th class="unsortable">Name
</th>
<th>Equatorial<br/>diameter<sup>†</sup>
</th>
<th><a href="/wiki/Planetary_mass" title="Planetary mass">Mass</a><sup>†</sup>
</th>
<th><a class="mw-redirect" href="/wiki/Semi-major_axis" title="Semi-major axis">Semi-major axis</a> (<a href="/wiki/Astronomical_unit" title="Astronomical unit">AU</a>)
</th>
<th><a href="/wiki/Orbital_period" title="Orbital period">Orbital period</a><br/>(years)
</th>
<th><a href="/wiki/Orbital_inclination" title="Orbital inclination">Inclination<br/>to the ecliptic</a> (°)
</th>
<th><a href="/wiki/Orbital_eccentricity" title="Orbital eccentricity">Orbital<br/>eccentricity</a>
</th>
<th><a href="/wiki/Rotation_period" title="Rotation period">Rotation period</a><br/>(days)
</th>
<th>Confirmed<br/><a href="/wiki/Natural_satellite" title="Natural satellite">moons</a>
</th>
<th><a href="/wiki/Axial_tilt" title="Axial tilt">Axial tilt</a> (°)
</th>
<th><a class="mw-redirect" href="/wiki/Ring_system_(astronomy)" title="Ring system (astronomy)">Rings</a>
</th>
<th class="unsortable"><a href="/wiki/Atmosphere" title="Atmosphere">Atmosphere</a>
</th></tr>
<tr>
<th colspan="13">Major planets
</th></tr>
<tr>
<td style="background-color: #DBFFDB;"><a class="image" href="/wiki/File:Mercury_symbol_(fixed_width).svg" title="☿"><img alt="☿" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Mercury_symbol_%28fixed_width%29.svg/14px-Mercury_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Mercury_symbol_%28fixed_width%29.svg/21px-Mercury_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Mercury_symbol_%28fixed_width%29.svg/28px-Mercury_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Mercury_(planet)" title="Mercury (planet)">Mercury</a>
</td>
<td>0.383
</td>
<td>0.06
</td>
<td>0.39
</td>
<td>0.24
</td>
<td>7.00
</td>
<td>0.206
</td>
<td>58.65
</td>
<td>0
</td>
<td>0.04
</td>
<td>no
</td>
<td><a href="/wiki/Atmosphere_of_Mercury" title="Atmosphere of Mercury">minimal</a>
</td></tr>
<tr>
<td style="background-color: #DBFFDB;"><a class="image" href="/wiki/File:Venus_symbol_(fixed_width).svg" title="♀"><img alt="♀" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Venus_symbol_%28fixed_width%29.svg/14px-Venus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Venus_symbol_%28fixed_width%29.svg/21px-Venus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Venus_symbol_%28fixed_width%29.svg/28px-Venus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Venus" title="Venus">Venus</a>
</td>
<td>0.949
</td>
<td>0.81
</td>
<td>0.72
</td>
<td>0.62
</td>
<td>3.39
</td>
<td>0.007
</td>
<td>243.02
</td>
<td>0
</td>
<td>177.30
</td>
<td>no
</td>
<td><a href="/wiki/Carbon_dioxide" title="Carbon dioxide">CO<sub>2</sub></a>, <a href="/wiki/Nitrogen" title="Nitrogen">N<sub>2</sub></a>
</td></tr>
<tr>
<td style="background-color: #DBFFDB;"><a class="image" href="/wiki/File:Earth_symbol_(fixed_width).svg" title="🜨"><img alt="🜨" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Earth_symbol_%28fixed_width%29.svg/14px-Earth_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Earth_symbol_%28fixed_width%29.svg/21px-Earth_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Earth_symbol_%28fixed_width%29.svg/28px-Earth_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Earth" title="Earth">Earth</a><sup>‡</sup>
</td>
<td>1.000
</td>
<td>1.00
</td>
<td>1.00
</td>
<td>1.00
</td>
<td>0.0
</td>
<td>0.017
</td>
<td>1.00
</td>
<td><a href="/wiki/Moon" title="Moon">1</a>
</td>
<td>23.44
</td>
<td>no
</td>
<td>N<sub>2</sub>, <a href="/wiki/Oxygen" title="Oxygen">O<sub>2</sub></a>, <a href="/wiki/Argon" title="Argon">Ar</a>
</td></tr>
<tr>
<td style="background-color: #DBFFDB;"><a class="image" href="/wiki/File:Mars_symbol_(fixed_width).svg" title="♂"><img alt="♂" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Mars_symbol_%28fixed_width%29.svg/14px-Mars_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Mars_symbol_%28fixed_width%29.svg/21px-Mars_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Mars_symbol_%28fixed_width%29.svg/28px-Mars_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Mars" title="Mars">Mars</a>
</td>
<td>0.532
</td>
<td>0.11
</td>
<td>1.52
</td>
<td>1.88
</td>
<td>1.85
</td>
<td>0.093
</td>
<td>1.03
</td>
<td><a href="/wiki/Moons_of_Mars" title="Moons of Mars">2</a>
</td>
<td>25.19
</td>
<td>no
</td>
<td>CO<sub>2</sub>, N<sub>2</sub>, Ar
</td></tr>
<tr>
<td style="background-color: #cc9156;"><a class="image" href="/wiki/File:Jupiter_symbol_(fixed_width).svg" title="♃"><img alt="♃" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/14px-Jupiter_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/21px-Jupiter_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/28px-Jupiter_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Jupiter" title="Jupiter">Jupiter</a>
</td>
<td>11.209
</td>
<td>317.83
</td>
<td>5.20
</td>
<td>11.86
</td>
<td>1.30
</td>
<td>0.048
</td>
<td>0.41
</td>
<td><a href="/wiki/Moons_of_Jupiter" title="Moons of Jupiter">95</a>
</td>
<td>3.13
</td>
<td><a href="/wiki/Rings_of_Jupiter" title="Rings of Jupiter">yes</a>
</td>
<td><a href="/wiki/Hydrogen" title="Hydrogen">H<sub>2</sub></a>, <a href="/wiki/Helium" title="Helium">He</a>
</td></tr>
<tr>
<td style="background-color: #cc9156;"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Saturn" title="Saturn">Saturn</a>
</td>
<td>9.449
</td>
<td>95.16
</td>
<td>9.54
</td>
<td>29.45
</td>
<td>2.49
</td>
<td>0.054
</td>
<td>0.44
</td>
<td><a href="/wiki/Moons_of_Saturn" title="Moons of Saturn">83</a>
</td>
<td>26.73
</td>
<td><a href="/wiki/Rings_of_Saturn" title="Rings of Saturn">yes</a>
</td>
<td>H<sub>2</sub>, He
</td></tr>
<tr>
<td style="background-color: #DDEEFF;"><a class="image" href="/wiki/File:Uranus_symbol_(fixed_width).svg" title="⛢"><img alt="⛢" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/14px-Uranus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/21px-Uranus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/28px-Uranus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Uranus" title="Uranus">Uranus</a>
</td>
<td>4.007
</td>
<td>14.54
</td>
<td>19.19
</td>
<td>84.02
</td>
<td>0.773
</td>
<td>0.047
</td>
<td>0.72
</td>
<td><a href="/wiki/Moons_of_Uranus" title="Moons of Uranus">27</a>
</td>
<td>97.77
</td>
<td><a href="/wiki/Rings_of_Uranus" title="Rings of Uranus">yes</a>
</td>
<td>H<sub>2</sub>, He, <a href="/wiki/Methane" title="Methane">CH<sub>4</sub></a>
</td></tr>
<tr>
<td style="background-color: #DDEEFF;"><a class="image" href="/wiki/File:Neptune_symbol_(fixed_width).svg" title="♆"><img alt="♆" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Neptune_symbol_%28fixed_width%29.svg/14px-Neptune_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Neptune_symbol_%28fixed_width%29.svg/21px-Neptune_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Neptune_symbol_%28fixed_width%29.svg/28px-Neptune_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Neptune" title="Neptune">Neptune</a>
</td>
<td>3.883
</td>
<td>17.15
</td>
<td>30.07
</td>
<td>164.79
</td>
<td>1.77
</td>
<td>0.009
</td>
<td>0.67
</td>
<td><a href="/wiki/Moons_of_Neptune" title="Moons of Neptune">14</a>
</td>
<td>28.32
</td>
<td><a href="/wiki/Rings_of_Neptune" title="Rings of Neptune">yes</a>
</td>
<td>H<sub>2</sub>, He, CH<sub>4</sub>
</td></tr>
<tr>
<th colspan="13">Dwarf planets
</th></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Ceres_symbol_(fixed_width).svg" title="⚳"><img alt="⚳" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Ceres_symbol_%28fixed_width%29.svg/14px-Ceres_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/61/Ceres_symbol_%28fixed_width%29.svg/21px-Ceres_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/61/Ceres_symbol_%28fixed_width%29.svg/28px-Ceres_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Ceres_(dwarf_planet)" title="Ceres (dwarf planet)">Ceres</a>
</td>
<td>0.0742
</td>
<td>0.00016
</td>
<td>2.77
</td>
<td>4.60
</td>
<td>10.59
</td>
<td>0.080
</td>
<td>0.38
</td>
<td>0
</td>
<td>4
</td>
<td>no
</td>
<td><a href="/wiki/Ceres_(dwarf_planet)#Atmosphere" title="Ceres (dwarf planet)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Orcus_symbol_(fixed_width).svg" title="🝿"><img alt="🝿" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Orcus_symbol_%28fixed_width%29.svg/14px-Orcus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Orcus_symbol_%28fixed_width%29.svg/21px-Orcus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Orcus_symbol_%28fixed_width%29.svg/28px-Orcus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/90482_Orcus" title="90482 Orcus">Orcus</a>
</td>
<td>0.072
</td>
<td>0.0001
</td>
<td>39.42
</td>
<td>247.5
</td>
<td>20.59
</td>
<td>0.226
</td>
<td>?
</td>
<td><a href="/wiki/Vanth_(moon)" title="Vanth (moon)">1</a>
</td>
<td>?
</td>
<td>?
</td>
<td>?
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Pluto_monogram_(fixed_width).svg" title="♇"><img alt="♇" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Pluto_monogram_%28fixed_width%29.svg/14px-Pluto_monogram_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Pluto_monogram_%28fixed_width%29.svg/21px-Pluto_monogram_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/46/Pluto_monogram_%28fixed_width%29.svg/28px-Pluto_monogram_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Pluto" title="Pluto">Pluto</a>
</td>
<td>0.186
</td>
<td>0.0022
</td>
<td>39.48
</td>
<td>247.9
</td>
<td>17.14
</td>
<td>0.249
</td>
<td>6.39
</td>
<td><a href="/wiki/Moons_of_Pluto" title="Moons of Pluto">5</a>
</td>
<td>119.6
</td>
<td>no
</td>
<td>N<sub>2</sub>, CH<sub>4</sub>, <a href="/wiki/Carbon_monoxide" title="Carbon monoxide">CO</a>
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Haumea_symbol_(fixed_width).svg" title="🝻"><img alt="🝻" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Haumea_symbol_%28fixed_width%29.svg/14px-Haumea_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/10/Haumea_symbol_%28fixed_width%29.svg/21px-Haumea_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/10/Haumea_symbol_%28fixed_width%29.svg/28px-Haumea_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Haumea" title="Haumea">Haumea</a>
</td>
<td>0.13
</td>
<td>0.0007
</td>
<td>43.34
</td>
<td>283.8
</td>
<td>28.21
</td>
<td>0.195
</td>
<td>0.16
</td>
<td><a href="/wiki/Moons_of_Haumea" title="Moons of Haumea">2</a>
</td>
<td>126
</td>
<td><a class="mw-redirect" href="/wiki/Rings_of_Haumea" title="Rings of Haumea">yes</a>
</td>
<td>?
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Quaoar_symbol_(fixed_width).svg" title="🝾"><img alt="🝾" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/58/Quaoar_symbol_%28fixed_width%29.svg/14px-Quaoar_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/58/Quaoar_symbol_%28fixed_width%29.svg/21px-Quaoar_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/58/Quaoar_symbol_%28fixed_width%29.svg/28px-Quaoar_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/50000_Quaoar" title="50000 Quaoar">Quaoar</a>
</td>
<td>0.085
</td>
<td>0.0002
</td>
<td>43.69
</td>
<td>288.0
</td>
<td>7.99
</td>
<td>0.038
</td>
<td>0.74
</td>
<td><a class="mw-redirect" href="/wiki/Weywot_(moon)" title="Weywot (moon)">1</a>
</td>
<td>?
</td>
<td><a href="/wiki/50000_Quaoar#Ring" title="50000 Quaoar">yes</a>
</td>
<td>?
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Makemake_symbol_(fixed_width).svg" title="🝼"><img alt="🝼" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Makemake_symbol_%28fixed_width%29.svg/14px-Makemake_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Makemake_symbol_%28fixed_width%29.svg/21px-Makemake_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Makemake_symbol_%28fixed_width%29.svg/28px-Makemake_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Makemake" title="Makemake">Makemake</a>
</td>
<td>0.11
</td>
<td>0.0005
</td>
<td>45.79
</td>
<td>306.2
</td>
<td>28.98
</td>
<td>0.161
</td>
<td>0.95
</td>
<td><a href="/wiki/S/2015_(136472)_1" title="S/2015 (136472) 1">1</a>
</td>
<td>?
</td>
<td>?
</td>
<td><a href="/wiki/Makemake#Atmosphere" title="Makemake">minimal</a>
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Gonggong_symbol_(fixed_width).svg" title="🝽"><img alt="🝽" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Gonggong_symbol_%28fixed_width%29.svg/14px-Gonggong_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Gonggong_symbol_%28fixed_width%29.svg/21px-Gonggong_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/75/Gonggong_symbol_%28fixed_width%29.svg/28px-Gonggong_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/225088_Gonggong" title="225088 Gonggong">Gonggong</a>
</td>
<td>0.10
</td>
<td>0.0003
</td>
<td>67.33
</td>
<td>552.5
</td>
<td>30.74
</td>
<td>0.506
</td>
<td>0.93
</td>
<td><a href="/wiki/Xiangliu_(moon)" title="Xiangliu (moon)">1</a>
</td>
<td>?
</td>
<td>?
</td>
<td>?
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Eris_symbol_(fixed_width).svg" title="⯰"><img alt="⯰" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eris_symbol_%28fixed_width%29.svg/14px-Eris_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eris_symbol_%28fixed_width%29.svg/21px-Eris_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eris_symbol_%28fixed_width%29.svg/28px-Eris_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Eris_(dwarf_planet)" title="Eris (dwarf planet)">Eris</a>
</td>
<td>0.18
</td>
<td>0.0028
</td>
<td>67.67
</td>
<td>559
</td>
<td>44.04
</td>
<td>0.436
</td>
<td>15.79
</td>
<td><a href="/wiki/Dysnomia_(moon)" title="Dysnomia (moon)">1</a>
</td>
<td>78
</td>
<td>?
</td>
<td><a href="/wiki/Eris_(dwarf_planet)#Surface_and_atmosphere" title="Eris (dwarf planet)">?</a>
</td></tr>
<tr>
<td style="background-color: #ffbfff;"><a class="image" href="/wiki/File:Sedna_symbol_(fixed_width).svg" title="⯲"><img alt="⯲" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sedna_symbol_%28fixed_width%29.svg/14px-Sedna_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sedna_symbol_%28fixed_width%29.svg/21px-Sedna_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sedna_symbol_%28fixed_width%29.svg/28px-Sedna_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/90377_Sedna" title="90377 Sedna">Sedna</a>
</td>
<td>0.078
</td>
<td>?
</td>
<td>525.86
</td>
<td>12059
</td>
<td>11.93
</td>
<td>0.855
</td>
<td>0.43
</td>
<td>0
</td>
<td>?
</td>
<td>?
</td>
<td>?
</td></tr>
<tr>

In [4]:
df=pd.read_html(str(planets[2]))
# convert list to dataframe
df=pd.DataFrame(df[0])
df.head()

,Unnamed: 0_level_0,Name,Equatorialdiameter†,Mass†,Semi-major axis (AU),Orbital period(years),Inclinationto the ecliptic (°),Orbitaleccentricity,Rotation period(days),Confirmedmoons,Axial tilt (°),Rings,Atmosphere
,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets
0,NaN,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,0,0.04,no,minimal
1,NaN,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,0,177.30,no,"CO2, N2"
2,NaN,Earth‡,1.000,1.00,1.00,1.00,0.0,0.017,1.00,1,23.44,no,"N2, O2, Ar"
3,NaN,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,2,25.19,no,"CO2, N2, Ar"
4,NaN,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,95,3.13,yes,"H2, He"

In [5]:
# drop the unwanted columns
data = df.drop(["Unnamed: 0_level_0"], axis=1)
# rename columns for ease
data = data.rename(columns={"Equatorialdiameter†": "equatorial_diameter","Mass†": "mass", "Semi-major axis (AU)":"semi_major_axis_AU", 
                            "Orbital period(years)":"orbital_period_years", "Inclinationto the ecliptic (°)":"inclination_to_the_eliptic_degrees",
                            "Orbitaleccentricity":"orbital_eccentricity", "Rotation period(days)":"rotation_period_days",
                            "Confirmedmoons":"has_moon", "Axial tilt (°)":"axial_tilt_degrees",
                            "Name":'name', "Rings":"rings", "Atmosphere": "atmosphere"})
data

<ipython-input-5-92a9ca9304c9>:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  data = df.drop(["Unnamed: 0_level_0"], axis=1)

,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere
,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets,Major planets
0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,0,0.04,no,minimal
1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,0,177.30,no,"CO2, N2"
2,Earth‡,1.000,1.00,1.00,1.00,0.0,0.017,1.00,1,23.44,no,"N2, O2, Ar"
3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,2,25.19,no,"CO2, N2, Ar"
4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,95,3.13,yes,"H2, He"
5,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,83,26.73,yes,"H2, He"
6,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,27,97.77,yes,"H2, He, CH4"
7,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,14,28.32,yes,"H2, He, CH4"
8,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets,Dwarf planets
9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,0,4,no,minimal
10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,?,1,?,?,?
11,Pluto,0.186,0.0022,39.48,247.9,17.14,0.249,6.39,5,119.6,no,"N2, CH4, CO"
12,Haumea,0.13,0.0007,43.34,283.8,28.21,0.195,0.16,2,126,yes,?
13,Quaoar,0.085,0.0002,43.69,288.0,7.99,0.038,0.74,1,?,yes,?
14,Makemake,0.11,0.0005,45.79,306.2,28.98,0.161,0.95,1,?,?,minimal
15,Gonggong,0.10,0.0003,67.33,552.5,30.74,0.506,0.93,1,?,?,?
16,Eris,0.18,0.0028,67.67,559,44.04,0.436,15.79,1,78,?,?
17,Sedna,0.078,?,525.86,12059,11.93,0.855,0.43,0,?,?,?
18,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...,Color legend: .mw-parser-output .legend{page-b...

In [6]:
data = data.drop(index = [8,18])
df_planet = data.droplevel(axis = 1, level = 1)
df_planet.head(10)

,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere
0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,0,0.04,no,minimal
1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,0,177.30,no,"CO2, N2"
2,Earth‡,1.000,1.00,1.00,1.00,0.0,0.017,1.00,1,23.44,no,"N2, O2, Ar"
3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,2,25.19,no,"CO2, N2, Ar"
4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,95,3.13,yes,"H2, He"
5,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,83,26.73,yes,"H2, He"
6,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,27,97.77,yes,"H2, He, CH4"
7,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,14,28.32,yes,"H2, He, CH4"
9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,0,4,no,minimal
10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,?,1,?,?,?

In [7]:
# Modify the values in "has_moon" and "rings" columns
df_planet['has_moon'] = df_planet['has_moon'].astype(int)
df_planet['has_moon'] = df_planet['has_moon'].apply(np.sign).replace({0: False, 1: True})
df_planet['rings'] = df_planet['rings'].replace({'no': False, 'yes': True, '?': 'NaN'})

# Replace '?' with NaN
df_planet = df_planet.replace('?', np.NaN)

# The name of Earth seems wrong, so I'll fix it
df_planet.loc[2, 'name'] = 'Earth'

# Display the table once again
df_planet

,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere
0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,False,0.04,False,minimal
1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,False,177.30,False,"CO2, N2"
2,Earth,1.000,1.00,1.00,1.00,0.0,0.017,1.00,True,23.44,False,"N2, O2, Ar"
3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,True,25.19,False,"CO2, N2, Ar"
4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,True,3.13,True,"H2, He"
5,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,True,26.73,True,"H2, He"
6,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,True,97.77,True,"H2, He, CH4"
7,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,True,28.32,True,"H2, He, CH4"
9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,False,4,False,minimal
10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,NaN,True,NaN,NaN,NaN
11,Pluto,0.186,0.0022,39.48,247.9,17.14,0.249,6.39,True,119.6,False,"N2, CH4, CO"
12,Haumea,0.13,0.0007,43.34,283.8,28.21,0.195,0.16,True,126,True,NaN
13,Quaoar,0.085,0.0002,43.69,288.0,7.99,0.038,0.74,True,NaN,True,NaN
14,Makemake,0.11,0.0005,45.79,306.2,28.98,0.161,0.95,True,NaN,NaN,minimal
15,Gonggong,0.10,0.0003,67.33,552.5,30.74,0.506,0.93,True,NaN,NaN,NaN
16,Eris,0.18,0.0028,67.67,559,44.04,0.436,15.79,True,78,NaN,NaN
17,Sedna,0.078,NaN,525.86,12059,11.93,0.855,0.43,False,NaN,NaN,NaN

The planets [Salacia](https://en.wikipedia.org/wiki/120347_Salacia) and [Varda](https://en.wikipedia.org/wiki/174567_Varda) is not yet included in the table. So, we'll include it.

In [8]:
# Add a row for missing planets 
df_planet.loc[len(df_planet)+1, ['name', 'orbital_period_years','rotation_period_days', 'has_moon']] = ['Salacia', 273.98, round(6.09/24, 2), True]
df_planet.loc[len(df_planet)+1, ['name', 'orbital_period_years','rotation_period_days', 'has_moon']] = ['Varda', 313.12, round(5.61/24, 2), True]

In [9]:
# Add the "planet_id" column
df_planet.reset_index(inplace=True)
df_planet.rename(columns={'index': 'planet_id'}, inplace=True)

df_planet

,planet_id,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere
0,0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,False,0.04,False,minimal
1,1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,False,177.30,False,"CO2, N2"
2,2,Earth,1.000,1.00,1.00,1.00,0.0,0.017,1.00,True,23.44,False,"N2, O2, Ar"
3,3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,True,25.19,False,"CO2, N2, Ar"
4,4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,True,3.13,True,"H2, He"
5,5,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,True,26.73,True,"H2, He"
6,6,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,True,97.77,True,"H2, He, CH4"
7,7,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,True,28.32,True,"H2, He, CH4"
8,9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,False,4,False,minimal
9,10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,NaN,True,NaN,NaN,NaN
10,11,Pluto,0.186,0.0022,39.48,247.9,17.14,0.249,6.39,True,119.6,False,"N2, CH4, CO"
11,12,Haumea,0.13,0.0007,43.34,283.8,28.21,0.195,0.16,True,126,True,NaN
12,13,Quaoar,0.085,0.0002,43.69,288.0,7.99,0.038,0.74,True,NaN,True,NaN
13,14,Makemake,0.11,0.0005,45.79,306.2,28.98,0.161,0.95,True,NaN,NaN,minimal
14,15,Gonggong,0.10,0.0003,67.33,552.5,30.74,0.506,0.93,True,NaN,NaN,NaN
15,16,Eris,0.18,0.0028,67.67,559,44.04,0.436,15.79,True,78,NaN,NaN
16,17,Sedna,0.078,NaN,525.86,12059,11.93,0.855,0.43,False,NaN,NaN,NaN
17,18,Salacia,NaN,NaN,NaN,273.98,NaN,NaN,0.25,True,NaN,NaN,NaN
18,19,Varda,NaN,NaN,NaN,313.12,NaN,NaN,0.23,True,NaN,NaN,NaN

In [64]:
# Display the planet table
df_planet.loc[:,'planet_id'] = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
df_planet.loc[0:7,'planet_id']
df_planet

,planet_id,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere
0,1,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,False,0.04,False,minimal
1,2,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,False,177.30,False,"CO2, N2"
2,3,Earth,1.000,1.00,1.00,1.00,0.0,0.017,1.00,True,23.44,False,"N2, O2, Ar"
3,4,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,True,25.19,False,"CO2, N2, Ar"
4,5,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,True,3.13,True,"H2, He"
5,6,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,True,26.73,True,"H2, He"
6,7,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,True,97.77,True,"H2, He, CH4"
7,8,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,True,28.32,True,"H2, He, CH4"
8,9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,False,4,False,minimal
9,10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,NaN,True,NaN,NaN,NaN
10,11,Pluto,0.186,0.0022,39.48,247.9,17.14,0.249,6.39,True,119.6,False,"N2, CH4, CO"
11,12,Haumea,0.13,0.0007,43.34,283.8,28.21,0.195,0.16,True,126,True,NaN
12,13,Quaoar,0.085,0.0002,43.69,288.0,7.99,0.038,0.74,True,NaN,True,NaN
13,14,Makemake,0.11,0.0005,45.79,306.2,28.98,0.161,0.95,True,NaN,NaN,minimal
14,15,Gonggong,0.10,0.0003,67.33,552.5,30.74,0.506,0.93,True,NaN,NaN,NaN
15,16,Eris,0.18,0.0028,67.67,559,44.04,0.436,15.79,True,78,NaN,NaN
16,17,Sedna,0.078,NaN,525.86,12059,11.93,0.855,0.43,False,NaN,NaN,NaN
17,18,Salacia,NaN,NaN,NaN,273.98,NaN,NaN,0.25,True,NaN,NaN,NaN
18,19,Varda,NaN,NaN,NaN,313.12,NaN,NaN,0.23,True,NaN,NaN,NaN

## Creating the moon table

In [10]:
# Don't forget to import the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
moons = soup.find_all('table',{'class':"wikitable"})
moons[3]

<table class="wikitable sortable" style="margin: 1em auto; text-align: center;">
<tbody><tr>
<th colspan="13">Planetary-mass moons
</th></tr>
<tr>
<th>
</th>
<th class="unsortable">Name
</th>
<th>Equatorial<br/>diameter<sup>†</sup>
</th>
<th><a href="/wiki/Planetary_mass" title="Planetary mass">Mass</a><sup>†</sup>
</th>
<th><a class="mw-redirect" href="/wiki/Semi-major_axis" title="Semi-major axis">Semi-major axis</a> (<a href="/wiki/Kilometre" title="Kilometre">km</a>)
</th>
<th><a href="/wiki/Orbital_period" title="Orbital period">Orbital period</a><br/>(days)
</th>
<th><a href="/wiki/Orbital_inclination" title="Orbital inclination">Inclination<br/>to primary's equator</a> (°)
</th>
<th><a href="/wiki/Orbital_eccentricity" title="Orbital eccentricity">Orbital<br/>eccentricity</a>
</th>
<th><a href="/wiki/Axial_tilt" title="Axial tilt">Axial tilt</a> (°)
</th>
<th class="unsortable"><a href="/wiki/Atmosphere" title="Atmosphere">Atmosphere</a>
</th></tr>
<tr>
<td style="background-color: #DBFFDB;"><a class="image" href="/wiki/File:Moon_decrescent_symbol.svg" title="☾"><img alt="☾" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Moon_decrescent_symbol.svg/14px-Moon_decrescent_symbol.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Moon_decrescent_symbol.svg/21px-Moon_decrescent_symbol.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Moon_decrescent_symbol.svg/28px-Moon_decrescent_symbol.svg.png 2x" width="14"/></a>
</td>
<td align="left"><a href="/wiki/Moon" title="Moon">Moon</a>
</td>
<td>0.272
</td>
<td>0.0123
</td>
<td>384,399
</td>
<td>27.322
</td>
<td><a href="/wiki/Lunar_precession" title="Lunar precession">18.29–28.58</a>
</td>
<td>0.0549
</td>
<td>6.68
</td>
<td><a href="/wiki/Atmosphere_of_the_Moon" title="Atmosphere of the Moon">minimal</a>
</td></tr>
<tr>
<td style="background-color: #DBFFDB;"><span class="nowrap"><a class="image" href="/wiki/File:Jupiter_symbol_(fixed_width).svg" title="♃"><img alt="♃" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/14px-Jupiter_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/21px-Jupiter_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/28px-Jupiter_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>1</span>
</td>
<td align="left"><a href="/wiki/Io_(moon)" title="Io (moon)">Io</a>
</td>
<td>0.285
</td>
<td>0.0150
</td>
<td>421,600
</td>
<td>1.769
</td>
<td>0.04
</td>
<td>0.0041
</td>
<td>≈0
</td>
<td><a href="/wiki/Io_(moon)#Atmosphere" title="Io (moon)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #DBFFDB;"><span class="nowrap"><a class="image" href="/wiki/File:Jupiter_symbol_(fixed_width).svg" title="♃"><img alt="♃" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/14px-Jupiter_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/21px-Jupiter_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/28px-Jupiter_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>2</span>
</td>
<td align="left"><a href="/wiki/Europa_(moon)" title="Europa (moon)">Europa</a>
</td>
<td>0.246
</td>
<td>0.00804
</td>
<td>670,900
</td>
<td>3.551
</td>
<td>0.47
</td>
<td>0.009
</td>
<td>≈0.1
</td>
<td><a href="/wiki/Europa_(moon)#Atmosphere" title="Europa (moon)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Jupiter_symbol_(fixed_width).svg" title="♃"><img alt="♃" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/14px-Jupiter_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/21px-Jupiter_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/28px-Jupiter_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>3</span>
</td>
<td align="left"><a href="/wiki/Ganymede_(moon)" title="Ganymede (moon)">Ganymede</a>
</td>
<td>0.413
</td>
<td>0.0248
</td>
<td>1,070,400
</td>
<td>7.155
</td>
<td>1.85
</td>
<td>0.0013
</td>
<td>≈0.2
</td>
<td><a href="/wiki/Ganymede_(moon)#Atmosphere_and_ionosphere" title="Ganymede (moon)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Jupiter_symbol_(fixed_width).svg" title="♃"><img alt="♃" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/14px-Jupiter_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/21px-Jupiter_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Jupiter_symbol_%28fixed_width%29.svg/28px-Jupiter_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>4</span>
</td>
<td align="left"><a href="/wiki/Callisto_(moon)" title="Callisto (moon)">Callisto</a>
</td>
<td>0.378
</td>
<td>0.0180
</td>
<td>1,882,700
</td>
<td>16.689
</td>
<td>0.2
</td>
<td>0.0074
</td>
<td>≈0–2
</td>
<td><a href="/wiki/Callisto_(moon)#Atmosphere_and_ionosphere" title="Callisto (moon)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>1</span>
</td>
<td align="left"><a href="/wiki/Mimas_(moon)" title="Mimas (moon)">Mimas</a>
</td>
<td>0.031
</td>
<td>0.00000628
</td>
<td>185,520
</td>
<td>0.942
</td>
<td>1.51
</td>
<td>0.0202
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>2</span>
</td>
<td align="left"><a href="/wiki/Enceladus" title="Enceladus">Enceladus</a>
</td>
<td>0.04
</td>
<td>0.0000181
</td>
<td>237,948
</td>
<td>1.370
</td>
<td>0.02
</td>
<td>0.0047
</td>
<td>≈0
</td>
<td><a href="/wiki/Enceladus#South_polar_plumes" title="Enceladus">minimal</a>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>3</span>
</td>
<td align="left"><a href="/wiki/Tethys_(moon)" title="Tethys (moon)">Tethys</a>
</td>
<td>0.084
</td>
<td>0.000103
</td>
<td>294,619
</td>
<td>1.888
</td>
<td>1.51
</td>
<td>0.02
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>4</span>
</td>
<td align="left"><a href="/wiki/Dione_(moon)" title="Dione (moon)">Dione</a>
</td>
<td>0.088
</td>
<td>0.000183
</td>
<td>377,396
</td>
<td>2.737
</td>
<td>0.019
</td>
<td>0.002
</td>
<td>≈0
</td>
<td><a href="/wiki/Dione_(moon)#Atmosphere" title="Dione (moon)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>5</span>
</td>
<td align="left"><a href="/wiki/Rhea_(moon)" title="Rhea (moon)">Rhea</a>
</td>
<td>0.12
</td>
<td>0.000386
</td>
<td>527,108
</td>
<td>4.518
</td>
<td>0.345
</td>
<td>0.001
</td>
<td>≈0
</td>
<td><a href="/wiki/Rhea_(moon)#Atmosphere" title="Rhea (moon)">minimal</a>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>6</span>
</td>
<td align="left"><a href="/wiki/Titan_(moon)" title="Titan (moon)">Titan</a>
</td>
<td>0.404
</td>
<td>0.0225
</td>
<td>1,221,870
</td>
<td>15.945
</td>
<td>0.33
</td>
<td>0.0288
</td>
<td>≈0.3
</td>
<td>N<sub>2</sub>, CH<sub>4</sub>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Saturn_symbol_(fixed_width).svg" title="♄"><img alt="♄" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/14px-Saturn_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/21px-Saturn_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Saturn_symbol_%28fixed_width%29.svg/28px-Saturn_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>8</span>
</td>
<td align="left"><a href="/wiki/Iapetus_(moon)" title="Iapetus (moon)">Iapetus</a>
</td>
<td>0.115
</td>
<td>0.000302
</td>
<td>3,560,820
</td>
<td>79.322
</td>
<td>14.72
</td>
<td>0.0286
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Uranus_symbol_(fixed_width).svg" title="⛢"><img alt="⛢" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/14px-Uranus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/21px-Uranus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/28px-Uranus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>5</span>
</td>
<td align="left"><a href="/wiki/Miranda_(moon)" title="Miranda (moon)">Miranda</a>
</td>
<td>0.037
</td>
<td>0.0000110
</td>
<td>129,390
</td>
<td>1.414
</td>
<td>4.22
</td>
<td>0.0013
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Uranus_symbol_(fixed_width).svg" title="⛢"><img alt="⛢" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/14px-Uranus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/21px-Uranus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/28px-Uranus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>1</span>
</td>
<td align="left"><a href="/wiki/Ariel_(moon)" title="Ariel (moon)">Ariel</a>
</td>
<td>0.091
</td>
<td>0.000226
</td>
<td>190,900
</td>
<td>2.520
</td>
<td>0.31
</td>
<td>0.0012
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Uranus_symbol_(fixed_width).svg" title="⛢"><img alt="⛢" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/14px-Uranus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/21px-Uranus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/28px-Uranus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>2</span>
</td>
<td align="left"><a href="/wiki/Umbriel_(moon)" title="Umbriel (moon)">Umbriel</a>
</td>
<td>0.092
</td>
<td>0.00020
</td>
<td>266,000
</td>
<td>4.144
</td>
<td>0.36
</td>
<td>0.005
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Uranus_symbol_(fixed_width).svg" title="⛢"><img alt="⛢" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/14px-Uranus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/21px-Uranus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/28px-Uranus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>3</span>
</td>
<td align="left"><a href="/wiki/Titania_(moon)" title="Titania (moon)">Titania</a>
</td>
<td>0.124
</td>
<td>0.00059
</td>
<td>436,300
</td>
<td>8.706
</td>
<td>0.14
</td>
<td>0.0011
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Uranus_symbol_(fixed_width).svg" title="⛢"><img alt="⛢" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/14px-Uranus_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/21px-Uranus_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Uranus_symbol_%28fixed_width%29.svg/28px-Uranus_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>4</span>
</td>
<td align="left"><a href="/wiki/Oberon_(moon)" title="Oberon (moon)">Oberon</a>
</td>
<td>0.119
</td>
<td>0.000505
</td>
<td>583,519
</td>
<td>13.46
</td>
<td>0.10
</td>
<td>0.0014
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Neptune_symbol_(fixed_width).svg" title="♆"><img alt="♆" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Neptune_symbol_%28fixed_width%29.svg/14px-Neptune_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Neptune_symbol_%28fixed_width%29.svg/21px-Neptune_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Neptune_symbol_%28fixed_width%29.svg/28px-Neptune_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>1</span>
</td>
<td align="left"><a href="/wiki/Triton_(moon)" title="Triton (moon)">Triton</a>
</td>
<td>0.212
</td>
<td>0.00358
</td>
<td>354,759
</td>
<td>5.877
</td>
<td>157
</td>
<td>0.00002
</td>
<td>≈0.7
</td>
<td>N<sub>2</sub>, CH<sub>4</sub>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Pluto_monogram_(fixed_width).svg" title="♇"><img alt="♇" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Pluto_monogram_%28fixed_width%29.svg/14px-Pluto_monogram_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Pluto_monogram_%28fixed_width%29.svg/21px-Pluto_monogram_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/46/Pluto_monogram_%28fixed_width%29.svg/28px-Pluto_monogram_%28fixed_width%29.svg.png 2x" width="14"/></a>1</span>
</td>
<td align="left"><a href="/wiki/Charon_(moon)" title="Charon (moon)">Charon</a>
</td>
<td>0.095
</td>
<td>0.000255
</td>
<td>17,536
</td>
<td>6.387
</td>
<td>0.001
</td>
<td>0.0022
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>
<td style="background-color: #FFBFFF;"><span class="nowrap"><a class="image" href="/wiki/File:Eris_symbol_(fixed_width).svg" title="⯰"><img alt="⯰" data-file-height="15" data-file-width="15" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eris_symbol_%28fixed_width%29.svg/14px-Eris_symbol_%28fixed_width%29.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eris_symbol_%28fixed_width%29.svg/21px-Eris_symbol_%28fixed_width%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/02/Eris_symbol_%28fixed_width%29.svg/28px-Eris_symbol_%28fixed_width%29.svg.png 2x" width="14"/></a>1</span>
</td>
<td align="left"><a href="/wiki/Dysnomia_(moon)" title="Dysnomia (moon)">Dysnomia</a>
</td>
<td>0.057
</td>
<td>0.00005–0.00008
</td>
<td>37,300
</td>
<td>15.786
</td>
<td>≈0
</td>
<td>0.0062
</td>
<td>≈0
</td>
<td>
</td></tr>
<tr>

In [12]:
df2=pd.read_html(str(moons[3]))
# convert list to dataframe
df2=pd.DataFrame(df2[0])
df2

                                 Planetary-mass moons  \
                                   Unnamed: 0_level_1
0                                                 NaN
1                                                   1
2                                                   2
3                                                   3
4                                                   4
5                                                   1
6                                                   2
7                                                   3
8                                                   4
9                                                   5
10                                                  6
11                                                  8
12                                                  5
13                                                  1
14                                                  2
15                                                  3
16                                                  4
17                                                  1
18                                                  1
19                                                  1
20  Color legend: predominantly rocky predominantl...

                                                       \
                                                 Name
0                                                Moon
1                                                  Io
2                                              Europa
3                                            Ganymede
4                                            Callisto
5                                               Mimas
6                                           Enceladus
7                                              Tethys
8                                               Dione
9                                                Rhea
10                                              Titan
11                                            Iapetus
12                                            Miranda
13                                              Ariel
14                                            Umbriel
15                                            Titania
16                                             Oberon
17                                             Triton
18                                             Charon
19                                           Dysnomia
20  Color legend: predominantly rocky predominantl...

                                                       \
                                  Equatorialdiameter†
0                                               0.272
1                                               0.285
2                                               0.246
3                                               0.413
4                                               0.378
5                                               0.031
6                                                0.04
7                                               0.084
8                                               0.088
9                                                0.12
10                                              0.404
11                                              0.115
12                                              0.037
13                                              0.091
14                                              0.092
15                                              0.124
16                                              0.119
17                                              0.212
18                                              0.095
19                                              0.057
20  Color legend: predominantly rocky predominantl...

                                                       \
                                                Mass†
0                                              0.0123
1                                              0.0150
2                                             0.00804
3                                              0.0248
4                                              0.0180
5                                          0.00000628
6                                           0.0000181
7                                            0.000103
8                                            0.000183
9                                            0.000386
10                                             0.0225
11                                           0.000302
12                                          0.0000110
13                                           0.000226
14                                            0.00020
15                                            0.00059
16                                           0.000505
17                                            0.00358
18                                           0.000255
19                                    0.00005–0.00008
20  Color legend: predominantly rocky predominantl...

                                                       \
                                 Semi-major axis (km)
0                                              384399
1                                              421600
2                                              670900
3                                             1070400
4                                             1882700
5                                              185520
6                                              237948
7                                              294619
8                                              377396
9                                              527108
10                                            1221870
11                                            3560820
12                                             129390
13                                             190900
14                                             266000
15                                             436300
16                                             583519
17                                             354759
18                                              17536
19                                              37300
20  Color legend: predominantly rocky predominantl...

                                                       \
                                 Orbital period(days)
0                                              27.322
1                                               1.769
2                                               3.551
3                                               7.155
4                                              16.689
5                                               0.942
6                                               1.370
7                                               1.888
8                                               2.737
9                                               4.518
10                                             15.945
11                                             79.322
12                                              1.414
13                                              2.520
14                                              4.144
15                                              8.706
16                                              13.46
17                                              5.877
18                                              6.387
19                                             15.786
20  Color legend: predominantly rocky predominantl...

                                                       \
                  Inclinationto primary's equator (°)
0                                         18.29–28.58
1                                                0.04
2                                                0.47
3                                                1.85
4                                                 0.2
5                                                1.51
6                                                0.02
7                                                1.51
8                                               0.019
9                                               0.345
10                                               0.33
11                                              14.72
12                                               4.22
13                                               0.31
14                                               0.36
15                                               0.14
16                                               0.10
17                                                157
18                                              0.001
19                                                 ≈0
20  Color legend: predominantly rocky predominantl...

                                                       \
                                  Orbitaleccentricity
0                                              0.0549
1                                              0.0041
2                                               0.009
3                                              0.0013
4                                              0.0074
5                                              0.0202
6                                              0.0047
7                                                0.02
8                                               0.002
9                                               0.001
10                                             0.0288
11                                             0.0286
12                                             0.0013
13                                             0.0012
14                                              0.005
15                                             0.0011
16                                             0.0014
17                                            0.00002
18                                             0.0022
19                                             0.0062
20  Color legend: predominantly rocky predominantl...

                                                       \
                                       Axial tilt (°)
0                                                6.68
1                                                  ≈0
2                                                ≈0.1
3                                                ≈0.2
4                                                ≈0–2
5                                                  ≈0
6                                                  ≈0
7                                                  ≈0
8                                                  ≈0
9                                                  ≈0
10                                               ≈0.3
11                                                 ≈0
12                                                 ≈0
13                                                 ≈0
14                                                 ≈0
15                                                 ≈0
16                                                 ≈0
17                                               ≈0.7
18                                                 ≈0
19                                                 ≈0
20  Color legend: predominantly rocky predominantl...

                                                       \
                                           Atmosphere
0                                             minimal
1                                             minimal
2                                             minimal
3                                             minimal
4                                             minimal
5                                                 NaN
6                                             minimal
7                                                 NaN
8                                             minimal
9                                             minimal
10                                            N2, CH4
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                            N2, CH4
18                                                NaN
19                                                NaN
20  Color legend: predominantly rocky predominantl...

                                                       \
                                  Unnamed: 10_level_1
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20  Color legend: predominantly rocky predominantl...

                                                       \
                                  Unnamed: 11_level_1
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20  Color legend: predominantly rocky predominantl...


                                  Unnamed: 12_level_1
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20  Color legend: predominantly rocky predominantl...

In [13]:
# drop the unwanted levels, columns and rows
df_moons2 = df2.droplevel(axis = 1, level = 0)
df_moons2 = df_moons2.drop(["Unnamed: 0_level_1", "Unnamed: 10_level_1", "Unnamed: 11_level_1", "Unnamed: 12_level_1", "Axial tilt (°)"], axis=1)
df_moons2 = df_moons2.drop(index = [20])

# rename columns
df_moons2 = df_moons2.rename(columns={"Name":'name', "Equatorialdiameter†": "equatorial_diameter", "Mass†": "mass", 
                                      "Semi-major axis (km)":"semi_major_axis_km", "Orbital period(days)":"orbital_period_days", 
                                      "Inclinationto primary's equator (°)":"inclination_to_primary_equator_degrees",
                                      "Orbitaleccentricity":"orbital_eccentricity", "Atmosphere": "atmosphere"})

df_moons2

,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere
0,Moon,0.272,0.0123,384399,27.322,18.29–28.58,0.0549,minimal
1,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal
2,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal
3,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal
4,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal
5,Mimas,0.031,0.00000628,185520,0.942,1.51,0.0202,NaN
6,Enceladus,0.04,0.0000181,237948,1.370,0.02,0.0047,minimal
7,Tethys,0.084,0.000103,294619,1.888,1.51,0.02,NaN
8,Dione,0.088,0.000183,377396,2.737,0.019,0.002,minimal
9,Rhea,0.12,0.000386,527108,4.518,0.345,0.001,minimal
10,Titan,0.404,0.0225,1221870,15.945,0.33,0.0288,"N2, CH4"
11,Iapetus,0.115,0.000302,3560820,79.322,14.72,0.0286,NaN
12,Miranda,0.037,0.0000110,129390,1.414,4.22,0.0013,NaN
13,Ariel,0.091,0.000226,190900,2.520,0.31,0.0012,NaN
14,Umbriel,0.092,0.00020,266000,4.144,0.36,0.005,NaN
15,Titania,0.124,0.00059,436300,8.706,0.14,0.0011,NaN
16,Oberon,0.119,0.000505,583519,13.46,0.10,0.0014,NaN
17,Triton,0.212,0.00358,354759,5.877,157,0.00002,"N2, CH4"
18,Charon,0.095,0.000255,17536,6.387,0.001,0.0022,NaN
19,Dysnomia,0.057,0.00005–0.00008,37300,15.786,≈0,0.0062,NaN

In [14]:
df_moons2.loc[0, 'inclination_to_primary_equator_degrees'] = (28.58+18.29)/2
df_moons2.loc[19, ['mass', 'inclination_to_primary_equator_degrees']] = [(0.00008-0.00005)/2, 0]
df_moons2

,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere
0,Moon,0.272,0.0123,384399,27.322,23.435,0.0549,minimal
1,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal
2,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal
3,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal
4,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal
5,Mimas,0.031,0.00000628,185520,0.942,1.51,0.0202,NaN
6,Enceladus,0.04,0.0000181,237948,1.370,0.02,0.0047,minimal
7,Tethys,0.084,0.000103,294619,1.888,1.51,0.02,NaN
8,Dione,0.088,0.000183,377396,2.737,0.019,0.002,minimal
9,Rhea,0.12,0.000386,527108,4.518,0.345,0.001,minimal
10,Titan,0.404,0.0225,1221870,15.945,0.33,0.0288,"N2, CH4"
11,Iapetus,0.115,0.000302,3560820,79.322,14.72,0.0286,NaN
12,Miranda,0.037,0.0000110,129390,1.414,4.22,0.0013,NaN
13,Ariel,0.091,0.000226,190900,2.520,0.31,0.0012,NaN
14,Umbriel,0.092,0.00020,266000,4.144,0.36,0.005,NaN
15,Titania,0.124,0.00059,436300,8.706,0.14,0.0011,NaN
16,Oberon,0.119,0.000505,583519,13.46,0.10,0.0014,NaN
17,Triton,0.212,0.00358,354759,5.877,157,0.00002,"N2, CH4"
18,Charon,0.095,0.000255,17536,6.387,0.001,0.0022,NaN
19,Dysnomia,0.057,0.000015,37300,15.786,0,0.0062,NaN

In [15]:
# Add the "moon_id" column
df_moons2.reset_index(inplace=True)
df_moons2.rename(columns={'index': 'moon_id'}, inplace=True)
df_moons2['moon_id'] += 1

df_moons2

,moon_id,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere
0,1,Moon,0.272,0.0123,384399,27.322,23.435,0.0549,minimal
1,2,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal
2,3,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal
3,4,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal
4,5,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal
5,6,Mimas,0.031,0.00000628,185520,0.942,1.51,0.0202,NaN
6,7,Enceladus,0.04,0.0000181,237948,1.370,0.02,0.0047,minimal
7,8,Tethys,0.084,0.000103,294619,1.888,1.51,0.02,NaN
8,9,Dione,0.088,0.000183,377396,2.737,0.019,0.002,minimal
9,10,Rhea,0.12,0.000386,527108,4.518,0.345,0.001,minimal
10,11,Titan,0.404,0.0225,1221870,15.945,0.33,0.0288,"N2, CH4"
11,12,Iapetus,0.115,0.000302,3560820,79.322,14.72,0.0286,NaN
12,13,Miranda,0.037,0.0000110,129390,1.414,4.22,0.0013,NaN
13,14,Ariel,0.091,0.000226,190900,2.520,0.31,0.0012,NaN
14,15,Umbriel,0.092,0.00020,266000,4.144,0.36,0.005,NaN
15,16,Titania,0.124,0.00059,436300,8.706,0.14,0.0011,NaN
16,17,Oberon,0.119,0.000505,583519,13.46,0.10,0.0014,NaN
17,18,Triton,0.212,0.00358,354759,5.877,157,0.00002,"N2, CH4"
18,19,Charon,0.095,0.000255,17536,6.387,0.001,0.0022,NaN
19,20,Dysnomia,0.057,0.000015,37300,15.786,0,0.0062,NaN

In [16]:
# Add a row for missing moons 
df_moons2.loc[len(df_moons2)+1, ['moon_id','name']] = [21, 'Actaea']
df_moons2.loc[len(df_moons2)+1, ['moon_id','name']] = [22, 'Ilmarë']

In [17]:
df_moons2

,moon_id,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere
0,1.0,Moon,0.272,0.0123,384399,27.322,23.435,0.0549,minimal
1,2.0,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal
2,3.0,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal
3,4.0,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal
4,5.0,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal
5,6.0,Mimas,0.031,0.00000628,185520,0.942,1.51,0.0202,NaN
6,7.0,Enceladus,0.04,0.0000181,237948,1.370,0.02,0.0047,minimal
7,8.0,Tethys,0.084,0.000103,294619,1.888,1.51,0.02,NaN
8,9.0,Dione,0.088,0.000183,377396,2.737,0.019,0.002,minimal
9,10.0,Rhea,0.12,0.000386,527108,4.518,0.345,0.001,minimal
10,11.0,Titan,0.404,0.0225,1221870,15.945,0.33,0.0288,"N2, CH4"
11,12.0,Iapetus,0.115,0.000302,3560820,79.322,14.72,0.0286,NaN
12,13.0,Miranda,0.037,0.0000110,129390,1.414,4.22,0.0013,NaN
13,14.0,Ariel,0.091,0.000226,190900,2.520,0.31,0.0012,NaN
14,15.0,Umbriel,0.092,0.00020,266000,4.144,0.36,0.005,NaN
15,16.0,Titania,0.124,0.00059,436300,8.706,0.14,0.0011,NaN
16,17.0,Oberon,0.119,0.000505,583519,13.46,0.10,0.0014,NaN
17,18.0,Triton,0.212,0.00358,354759,5.877,157,0.00002,"N2, CH4"
18,19.0,Charon,0.095,0.000255,17536,6.387,0.001,0.0022,NaN
19,20.0,Dysnomia,0.057,0.000015,37300,15.786,0,0.0062,NaN
21,21.0,Actaea,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22.0,Ilmarë,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_planet[['name', 'planet_id']]

        name  planet_id
0    Mercury          0
1      Venus          1
2      Earth          2
3       Mars          3
4    Jupiter          4
5     Saturn          5
6     Uranus          6
7    Neptune          7
8      Ceres          9
9      Orcus         10
10     Pluto         11
11    Haumea         12
12    Quaoar         13
13  Makemake         14
14  Gonggong         15
15      Eris         16
16     Sedna         17
17   Salacia         18
18     Varda         19

In [19]:
# add 'planet_id' to the moon table
planet_id = [3,5,5,5,5,6,6,6,6,6,6,6,7,7,7,7,7,8,11,16,18,19]
df_moons2['planet_id'] = planet_id
df_moons2

,moon_id,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere,planet_id
0,1.0,Moon,0.272,0.0123,384399,27.322,23.435,0.0549,minimal,3
1,2.0,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal,5
2,3.0,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal,5
3,4.0,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal,5
4,5.0,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal,5
5,6.0,Mimas,0.031,0.00000628,185520,0.942,1.51,0.0202,NaN,6
6,7.0,Enceladus,0.04,0.0000181,237948,1.370,0.02,0.0047,minimal,6
7,8.0,Tethys,0.084,0.000103,294619,1.888,1.51,0.02,NaN,6
8,9.0,Dione,0.088,0.000183,377396,2.737,0.019,0.002,minimal,6
9,10.0,Rhea,0.12,0.000386,527108,4.518,0.345,0.001,minimal,6
10,11.0,Titan,0.404,0.0225,1221870,15.945,0.33,0.0288,"N2, CH4",6
11,12.0,Iapetus,0.115,0.000302,3560820,79.322,14.72,0.0286,NaN,6
12,13.0,Miranda,0.037,0.0000110,129390,1.414,4.22,0.0013,NaN,7
13,14.0,Ariel,0.091,0.000226,190900,2.520,0.31,0.0012,NaN,7
14,15.0,Umbriel,0.092,0.00020,266000,4.144,0.36,0.005,NaN,7
15,16.0,Titania,0.124,0.00059,436300,8.706,0.14,0.0011,NaN,7
16,17.0,Oberon,0.119,0.000505,583519,13.46,0.10,0.0014,NaN,7
17,18.0,Triton,0.212,0.00358,354759,5.877,157,0.00002,"N2, CH4",8
18,19.0,Charon,0.095,0.000255,17536,6.387,0.001,0.0022,NaN,11
19,20.0,Dysnomia,0.057,0.000015,37300,15.786,0,0.0062,NaN,16
21,21.0,Actaea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
22,22.0,Ilmarë,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19

In [20]:
df_moons2['moon_id'] = df_moons2.moon_id.astype(int)
df_moons2.head()

,moon_id,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere,planet_id
0,1,Moon,0.272,0.0123,384399,27.322,23.435,0.0549,minimal,3
1,2,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal,5
2,3,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal,5
3,4,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal,5
4,5,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal,5

## Creating constellation and star tables

Since each planet should have a foreign key that refers to one of the rows in the star table, we might want to start thinking about how to connect the dots between the planet table and the star table. 

The best solution I could come up with is to use a constellation table. The constellation that the planet is "in" could be located. As the planets orbit the sun in a plane, they are much closer to us than the background stars and only appear to move through certain constellations ([source](http://www.appstate.edu/~goodmanjm/rcoe/elemscience/astronomy/zodiac.html)), hence the double quotation marks. And when I say background stars, I'm referring to the constellations, which are meaningful star patterns in the sky. The brightest star is also found in each constellation. Therefore, we could add a column to the planet table that indicates the brightest star in the constellation the planet is in.

In [21]:
df_planet.name.values

array(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus',
       'Neptune', 'Ceres', 'Orcus', 'Pluto', 'Haumea', 'Quaoar',
       'Makemake', 'Gonggong', 'Eris', 'Sedna', 'Salacia', 'Varda'],
      dtype=object)

In [22]:
planet_constellation = {
    'Mercury' : 'Virgo', #1
    'Venus' : 'Leo', #1
    'Earth' : 'Centaurus',
    'Mars' : 'Taurus', #1
    'Jupiter' : 'Cetus', #1
    'Saturn' : 'Capricornus', #1
    'Uranus' : 'Aries', #1
    'Neptune' : 'Aquarius', #1
    'Ceres' : 'Leo', #2
    'Orcus' : 'Sagittarius', 
    'Pluto' : 'Sagittarius', #2 
    'Haumea' : 'Boötes', #2
    'Quaoar' : 'Ophiuchus', #3
    'Makemake' : 'Coma Berenices', #2 
    'Gonggong' : 'Aquarius', #4
    'Eris' : 'Cetus', #2
    'Sedna' : 'Taurus', #2
    'Salacia' : 'Pegasus', 
    'Varda' : 'Aquarius'
}

[1] The Sky Live, *Major Solar System Objects*, https://theskylive.com/planets

[2] The Sky Live, *Asteroids*, https://theskylive.com/asteroids-and-dwarf-planets

[3] *50000 Quaoar*. https://usuaris.tinet.cat/klunn/quaoar.html

[4] Wikipedia, *225088 Gonggong*, https://en.wikipedia.org/wiki/225088_Gonggong

Earth, Orcus, and Varda are the three planets for whom I am unable to locate any information on their constellation. However, according to [this article](https://www.space.com/18964-the-nearest-stars-to-earth-infographic.html), the stars closest to Earth are found in the constellation Centaurus, so I'll put Centaurus in the table as the constellation of Earth. Orcus is also known as Plutino, so I think it probably wouldn't be wrong to designate Sagittarius as its constellation. In addition, Varda is a binary trans-Neptunian planetoid, thus I give it the same constellation as Neptune, which is Aquarius.

In [23]:
# Turn the dictionary into a table
df_planet_constellation = pd.DataFrame.from_dict(planet_constellation, orient='index').reset_index()
df_planet_constellation.columns = ['planet', 'constellation']
df_planet_constellation

      planet   constellation
0    Mercury           Virgo
1      Venus             Leo
2      Earth       Centaurus
3       Mars          Taurus
4    Jupiter           Cetus
5     Saturn     Capricornus
6     Uranus           Aries
7    Neptune        Aquarius
8      Ceres             Leo
9      Orcus     Sagittarius
10     Pluto     Sagittarius
11    Haumea          Boötes
12    Quaoar       Ophiuchus
13  Makemake  Coma Berenices
14  Gonggong        Aquarius
15      Eris           Cetus
16     Sedna          Taurus
17   Salacia         Pegasus
18     Varda        Aquarius

We can use web scraping again on [this Wikipedia page](https://en.wikipedia.org/wiki/IAU_designated_constellations) to obtain the constellation table.

In [24]:
# Don't forget to import the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [25]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/IAU_designated_constellations"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [26]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
constelations = soup.find_all('table',{'class':"wikitable"})
constelations[0]

<table class="wikitable sortable">
<tbody><tr>
<th rowspan="2">Constellation
</th>
<th colspan="2">Abbreviations
</th>
<th rowspan="2">Genitive</th>
<th rowspan="2">Origin</th>
<th rowspan="2">Meaning</th>
<th rowspan="2">Brightest star
</th></tr>
<tr>
<th>IAU<sup class="reference" id="cite_ref-iau_5-0"><a href="#cite_note-iau-5">[5]</a></sup></th>
<th>NASA<sup class="reference" id="cite_ref-6"><a href="#cite_note-6">[6]</a></sup>
</th></tr>
<tr>
<td><a href="/wiki/Andromeda_(constellation)" title="Andromeda (constellation)">Andromeda</a><br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/æ/: 'a' in 'bad'">æ</span><span title="'n' in 'nigh'">n</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'d' in 'dye'">d</span><span title="'r' in 'rye'">r</span><span title="/ɒ/: 'o' in 'body'">ɒ</span><span title="'m' in 'my'">m</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'d' in 'dye'">d</span><span title="/ə/: 'a' in 'about'">ə</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-0"><a href="#cite_note-OED-7">[7]</a></sup></td>
<td>And</td>
<td>Andr</td>
<td>Andromedae<br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/æ/: 'a' in 'bad'">æ</span><span title="'n' in 'nigh'">n</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'d' in 'dye'">d</span><span title="'r' in 'rye'">r</span><span title="/ɒ/: 'o' in 'body'">ɒ</span><span title="'m' in 'my'">m</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'d' in 'dye'">d</span><span title="/iː/: 'ee' in 'fleece'">iː</span></span>/</a></span></span></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td><a href="/wiki/Andromeda_(mythology)" title="Andromeda (mythology)">Andromeda</a> (The chained maiden or princess)</td>
<td><a href="/wiki/Alpha_Andromedae" title="Alpha Andromedae">Alpheratz</a>
</td></tr>
<tr>
<td><a href="/wiki/Antlia" title="Antlia">Antlia</a><br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="'n' in 'nigh'">n</span><span title="'t' in 'tie'">t</span><span title="'l' in 'lie'">l</span><span title="/i/: 'y' in 'happy'">i</span><span title="/ə/: 'a' in 'about'">ə</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-1"><a href="#cite_note-OED-7">[7]</a></sup></td>
<td>Ant</td>
<td>Antl</td>
<td>Antliae <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="'n' in 'nigh'">n</span><span title="'t' in 'tie'">t</span><span title="'l' in 'lie'">l</span><span title="/i/: 'y' in 'happy'">i</span><span title="/iː/: 'ee' in 'fleece'">iː</span></span>/</a></span></span></td>
<td>1763, <a class="mw-redirect" href="/wiki/Nicolas_Louis_de_Lacaille" title="Nicolas Louis de Lacaille">Lacaille</a></td>
<td><a href="/wiki/Air_pump" title="Air pump">air pump</a></td>
<td><a href="/wiki/Alpha_Antliae" title="Alpha Antliae">α Antliae</a>
</td></tr>
<tr>
<td><a href="/wiki/Apus" title="Apus">Apus</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/eɪ/: 'a' in 'face'">eɪ</span><span title="'p' in 'pie'">p</span><span title="/ə/: 'a' in 'about'">ə</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-0"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>Aps</td>
<td>Apus</td>
<td>Apodis <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="'p' in 'pie'">p</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="'d' in 'dye'">d</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-1"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>1603, <i><a href="/wiki/Uranometria" title="Uranometria">Uranometria</a></i>, created by <a href="/wiki/Pieter_Dirkszoon_Keyser" title="Pieter Dirkszoon Keyser">Keyser</a> and <a href="/wiki/Frederick_de_Houtman" title="Frederick de Houtman">de Houtman</a></td>
<td><a href="/wiki/Bird-of-paradise" title="Bird-of-paradise">Bird-of-paradise</a>/Exotic Bird/Extraordinary Bird</td>
<td><a href="/wiki/Alpha_Apodis" title="Alpha Apodis">α Apodis</a>
</td></tr>
<tr>
<td><a href="/wiki/Aquarius_(constellation)" title="Aquarius (constellation)">Aquarius</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ə/: 'a' in 'about'">ə</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'k' in 'kind'">k</span><span title="'w' in 'wind'">w</span><span title="/ɛər/: 'are' in 'bare'">ɛər</span><span title="/i/: 'y' in 'happy'">i</span><span title="/ə/: 'a' in 'about'">ə</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-2"><a href="#cite_note-OED-7">[7]</a></sup></td>
<td>Aqr</td>
<td>Aqar</td>
<td>Aquarii  <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ə/: 'a' in 'about'">ə</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'k' in 'kind'">k</span><span title="'w' in 'wind'">w</span><span title="/ɛər/: 'are' in 'bare'">ɛər</span><span title="/i/: 'y' in 'happy'">i</span><span title="/aɪ/: 'i' in 'tide'">aɪ</span></span>/</a></span></span></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td>water-bearer</td>
<td><a href="/wiki/Beta_Aquarii" title="Beta Aquarii">Sadalsuud</a>
</td></tr>
<tr>
<td><a href="/wiki/Aquila_(constellation)" title="Aquila (constellation)">Aquila</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="'k' in 'kind'">k</span><span title="'w' in 'wind'">w</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'l' in 'lie'">l</span><span title="/ə/: 'a' in 'about'">ə</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-3"><a href="#cite_note-OED-7">[7]</a></sup></td>
<td>Aql</td>
<td>Aqil</td>
<td>Aquilae <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="'k' in 'kind'">k</span><span title="'w' in 'wind'">w</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'l' in 'lie'">l</span><span title="/iː/: 'ee' in 'fleece'">iː</span></span>/</a></span></span></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td><a href="/wiki/Eagle" title="Eagle">eagle</a></td>
<td><a class="mw-redirect" href="/wiki/Alpha_Aquilae" title="Alpha Aquilae">Altair</a>
</td></tr>
<tr>
<td><a href="/wiki/Ara_(constellation)" title="Ara (constellation)">Ara</a><br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/ɛər/: 'are' in 'bare'">ɛər</span><span title="/ə/: 'a' in 'about'">ə</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-2"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>Ara</td>
<td>Arae</td>
<td>Arae <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/ɛər/: 'are' in 'bare'">ɛər</span><span title="/iː/: 'ee' in 'fleece'">iː</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-3"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td><a href="/wiki/Altar" title="Altar">altar</a></td>
<td><a href="/wiki/Beta_Arae" title="Beta Arae">β Arae</a>
</td></tr>
<tr>
<td><a href="/wiki/Aries_(constellation)" title="Aries (constellation)">Aries</a><br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="/ɛər/: 'are' in 'bare'">ɛər</span></span>(<span style="border-bottom:1px dotted"><span title="/i/: 'y' in 'happy'">i</span></span>)<span style="border-bottom:1px dotted"><span title="/iː/: 'ee' in 'fleece'">iː</span><span title="'z' in 'zoom'">z</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-4"><a href="#cite_note-OED-7">[7]</a></sup><sup class="reference" id="cite_ref-RH_8-4"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>Ari</td>
<td>Arie</td>
<td>Arietis <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ə/: 'a' in 'about'">ə</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'r' in 'rye'">r</span><span title="/aɪ/: 'i' in 'tide'">aɪ</span><span title="/./: syllable break">.</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'t' in 'tie'">t</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-5"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td><a href="/wiki/Ovis" title="Ovis">ram</a></td>
<td><a class="mw-redirect" href="/wiki/Alpha_Arietis" title="Alpha Arietis">Hamal</a>
</td></tr>
<tr>
<td><a href="/wiki/Auriga_(constellation)" title="Auriga (constellation)">Auriga</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ɔː/: 'au' in 'fraud'">ɔː</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'r' in 'rye'">r</span><span title="/aɪ/: 'i' in 'tide'">aɪ</span><span title="/ɡ/: 'g' in 'guy'">ɡ</span><span title="/ə/: 'a' in 'about'">ə</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-5"><a href="#cite_note-OED-7">[7]</a></sup><sup class="reference" id="cite_ref-RH_8-6"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>Aur</td>
<td>Auri</td>
<td>Aurigae <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ɔː/: 'au' in 'fraud'">ɔː</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'r' in 'rye'">r</span><span title="/aɪ/: 'i' in 'tide'">aɪ</span><span title="/dʒ/: 'j' in 'jam'">dʒ</span><span title="/iː/: 'ee' in 'fleece'">iː</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-7"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td>charioteer</td>
<td><a class="mw-redirect" href="/wiki/Alpha_Aurigae" title="Alpha Aurigae">Capella</a>
</td></tr>
<tr>
<td><a href="/wiki/Bo%C3%B6tes" title="Boötes">Boötes</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="'b' in 'buy'">b</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="'t' in 'tie'">t</span><span title="/iː/: 'ee' in 'fleece'">iː</span><span title="'z' in 'zoom'">z</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-6"><a href="#cite_note-OED-7">[7]</a></sup></td>
<td>Boo</td>
<td>Boot</td>
<td>Boötis <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="'b' in 'buy'">b</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="'t' in 'tie'">t</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td><a href="/wiki/Herder" title="Herder">herdsman</a></td>
<td><a class="mw-redirect" href="/wiki/Alpha_Bo%C3%B6tis" title="Alpha Boötis">Arcturus</a>
</td></tr>
<tr>
<td><a href="/wiki/Caelum" title="Caelum">Caelum</a><br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="'s' in 'sigh'">s</span><span title="/iː/: 'ee' in 'fleece'">iː</span><span title="'l' in 'lie'">l</span><span title="/ə/: 'a' in 'about'">ə</span><span title="'m' in 'my'">m</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-8"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>Cae</td>
<td>Cael</td>
<td>Caeli <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="'s' in 'sigh'">s</span><span title="/iː/: 'ee' in 'fleece'">iː</span><span title="'l' in 'lie'">l</span><span title="/aɪ/: 'i' in 'tide'">aɪ</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-9"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>1763, <a class="mw-redirect" href="/wiki/Nicolas_Louis_de_Lacaille" title="Nicolas Louis de Lacaille">Lacaille</a></td>
<td><a href="/wiki/Chisel" title="Chisel">chisel</a> or engraving tool</td>
<td><a href="/wiki/Alpha_Caeli" title="Alpha Caeli">α Caeli</a>
</td></tr>
<tr>
<td><a href="/wiki/Camelopardalis" title="Camelopardalis">Camelopardalis</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="'k' in 'kind'">k</span><span title="/ə/: 'a' in 'about'">ə</span><span title="/ˌ/: secondary stress follows">ˌ</span><span title="'m' in 'my'">m</span><span title="/ɛ/: 'e' in 'dress'">ɛ</span><span title="'l' in 'lie'">l</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'p' in 'pie'">p</span><span title="/ɑːr/: 'ar' in 'far'">ɑːr</span><span title="'d' in 'dye'">d</span><span title="/əl/: 'le' in 'bottle'">əl</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-10"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>Cam</td>
<td>Caml</td>
<td>Camelopardalis <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="'k' in 'kind'">k</span><span title="/ə/: 'a' in 'about'">ə</span><span title="/ˌ/: secondary stress follows">ˌ</span><span title="'m' in 'my'">m</span><span title="/ɛ/: 'e' in 'dress'">ɛ</span><span title="'l' in 'lie'">l</span><span title="/oʊ/: 'o' in 'code'">oʊ</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'p' in 'pie'">p</span><span title="/ɑːr/: 'ar' in 'far'">ɑːr</span><span title="'d' in 'dye'">d</span><span title="/əl/: 'le' in 'bottle'">əl</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="'s' in 'sigh'">s</span></span>/</a></span></span><sup class="reference" id="cite_ref-RH_8-11"><a href="#cite_note-RH-8">[8]</a></sup></td>
<td>1613, <a href="/wiki/Petrus_Plancius" title="Petrus Plancius">Plancius</a><sup class="reference" id="cite_ref-9"><a href="#cite_note-9">[note 1]</a></sup></td>
<td>giraffe</td>
<td><a href="/wiki/Beta_Camelopardalis" title="Beta Camelopardalis">β Camelopardalis</a>
</td></tr>
<tr>
<td><a href="/wiki/Cancer_(constellation)" title="Cancer (constellation)">Cancer</a> <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="'k' in 'kind'">k</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="'n' in 'nigh'">n</span><span title="'s' in 'sigh'">s</span><span title="/ər/: 'er' in 'letter'">ər</span></span>/</a></span></span><sup class="reference" id="cite_ref-OED_7-7"><a href="#cite_note-OED-7">[7]</a></sup></td>
<td>Cnc</td>
<td>Canc</td>
<td>Cancri <br/><span class="rt-commentedText nowrap"><span class="IPA nopopups noexcerpt" lang="en-fonipa"><a href="/wiki/Help:IPA/English" title="Help:IPA/English">/<span style="border-bottom:1px dotted"><span title="/ˈ/: primary stress follows">ˈ</span><span title="'k' in 'kind'">k</span><span title="/æ/: 'a' in 'bad'">æ</span><span title="/ŋ/: 'ng' in 'sing'">ŋ</span><span title="'k' in 'kind'">k</span><span title="'r' in 'rye'">r</span><span title="/aɪ/: 'i' in 'tide'">aɪ</span></span>/</a></span></span></td>
<td data-sort-value="0">ancient (<a href="/wiki/Ptolemy" title="Ptolemy">Ptolemy</a>)</td>
<td>crab</td>
<td><a href="/wiki/Beta_Cancri" title="Beta Cancri">Tarf</a><sup class="reference" id="cite_ref-IAU-LSN_10-0"><a href="#cite_note-IAU-LSN-10">[9]</a></sup>
</td></tr>
<tr>

In [27]:
df3=pd.read_html(str(constelations))
# convert list to dataframe
df3=pd.DataFrame(df3[0])
df3.head()

              Constellation Abbreviations                         Genitive  \
              Constellation        IAU[5] NASA[6]                 Genitive
0  Andromeda/ænˈdrɒmɪdə/[7]           And    Andr  Andromedae/ænˈdrɒmɪdiː/
1        Antlia/ˈæntliə/[7]           Ant    Antl       Antliae /ˈæntliiː/
2          Apus /ˈeɪpəs/[8]           Aps    Apus     Apodis /ˈæpoʊdɪs/[8]
3  Aquarius /əˈkwɛəriəs/[7]           Aqr    Aqar     Aquarii /əˈkwɛəriaɪ/
4       Aquila /ˈækwɪlə/[7]           Aql    Aqil       Aquilae /ˈækwɪliː/

                                              Origin  \
                                              Origin
0                                  ancient (Ptolemy)
1                                     1763, Lacaille
2  1603, Uranometria, created by Keyser and de Ho...
3                                  ancient (Ptolemy)
4                                  ancient (Ptolemy)

                                           Meaning Brightest star
                                           Meaning Brightest star
0       Andromeda (The chained maiden or princess)      Alpheratz
1                                         air pump      α Antliae
2  Bird-of-paradise/Exotic Bird/Extraordinary Bird       α Apodis
3                                     water-bearer      Sadalsuud
4                                            eagle         Altair

In [28]:
df3 = df3[['Constellation', 'Genitive','Abbreviations', 'Origin', 'Brightest star']]
df3.columns = ['const_name', 'genitive', 'abbreviations_iau', 'abbreviations_nasa', 'year_discovered', 'brightest_star']
df3.head()

,const_name,genitive,abbreviations_iau,abbreviations_nasa,year_discovered,brightest_star
0,Andromeda/ænˈdrɒmɪdə/[7],Andromedae/ænˈdrɒmɪdiː/,And,Andr,ancient (Ptolemy),Alpheratz
1,Antlia/ˈæntliə/[7],Antliae /ˈæntliiː/,Ant,Antl,"1763, Lacaille",α Antliae
2,Apus /ˈeɪpəs/[8],Apodis /ˈæpoʊdɪs/[8],Aps,Apus,"1603, Uranometria, created by Keyser and de Ho...",α Apodis
3,Aquarius /əˈkwɛəriəs/[7],Aquarii /əˈkwɛəriaɪ/,Aqr,Aqar,ancient (Ptolemy),Sadalsuud
4,Aquila /ˈækwɪlə/[7],Aquilae /ˈækwɪliː/,Aql,Aqil,ancient (Ptolemy),Altair

In [29]:
# cleaning up the data in the table
df3['const_name'] = [word.split('/')[0].strip() for word in df3['const_name']]
df3['genitive'] = [word.split('/')[0].strip() for word in df3['genitive']]
df3['year_discovered'] = [year.split(',')[0] for year in df3['year_discovered']]
df3['year_discovered']  = df3['year_discovered'].replace('ancient (Ptolemy)', '')

df3.head()

,const_name,genitive,abbreviations_iau,abbreviations_nasa,year_discovered,brightest_star
0,Andromeda,Andromedae,And,Andr,,Alpheratz
1,Antlia,Antliae,Ant,Antl,1763,α Antliae
2,Apus,Apodis,Aps,Apus,1603,α Apodis
3,Aquarius,Aquarii,Aqr,Aqar,,Sadalsuud
4,Aquila,Aquilae,Aql,Aqil,,Altair

Out of practicality, I would like to alter the star column's use of Greek letters on their records to our alphabet. And if you check further, the star's name also contains [8]s, so I'll omit them as well.

In [30]:
df3.brightest_star.values

array(['Alpheratz', 'α Antliae', 'α Apodis', 'Sadalsuud', 'Altair',
       'β Arae', 'Hamal', 'Capella', 'Arcturus', 'α Caeli',
       'β\xa0Camelopardalis', 'Tarf[9]', 'Cor Caroli', 'Sirius',
       'Procyon', 'Deneb Algedi', 'Canopus', 'Schedar[9]',
       'Rigil Kentaurus[9]', 'Alderamin', 'Diphda[9]', 'α Chamaeleontis',
       'α Circini', 'Phact', 'β Comae Berenices', 'Meridiana[9]',
       'Alphecca', 'Gienah', 'δ Crateris', 'Acrux', 'Deneb', 'Rotanev',
       'α Doradus', 'Eltanin[9]', 'Kitalpha', 'Achernar', 'Dalim[9]',
       'Pollux', 'Alnair', 'Kornephoros', 'α Horologii', 'Alphard',
       'β Hydri', 'α Indi', 'α Lacertae', 'Regulus', 'Praecipua', 'Arneb',
       'Zubeneschamali[9]', 'α Lupi', 'α Lyncis', 'Vega', 'α Mensae',
       'γ Microscopii', 'β Monocerotis', 'α Muscae', 'γ2 Normae',
       'ν Octantis', 'Rasalhague', 'Rigel', 'Peacock', 'Enif', 'Mirfak',
       'Ankaa', 'α Pictoris', 'Alpherg', 'Fomalhaut', 'Naos', 'α Pyxidis',
       'α Reticuli', 'γ Sagittae', 'Kaus Australis', 'Antares',
       'α Sculptoris', 'α Scuti', 'Unukalhai', 'α Sextantis', 'Aldebaran',
       'α Telescopii', 'β Trianguli', 'Atria', 'α Tucanae', 'Alioth',
       'Polaris', 'γ2 Velorum', 'Spica', 'β Volantis', 'Anser'],
      dtype=object)

In [31]:
# Change the Alpha symbol to "Alpha"
regex_two = df3[df3.brightest_star.str.match('^α.*')]
new_values = 'Alpha ' + regex_two.brightest_star.str[2:]
df3.loc[regex_two.index, 'brightest_star'] = new_values

# Change the Beta symbol to "Beta"
regex_three = df3[df3.brightest_star.str.match('^β.*')]
new_values = 'Beta ' + regex_three.brightest_star.str[2:]
df3.loc[regex_three.index, 'brightest_star'] = new_values

# Change the delta symbol to "Delta"
regex_four = df3[df3.brightest_star.str.match('^δ.*')]
new_values = 'Delta ' + regex_four.brightest_star.str[2:]
df3.loc[regex_four.index, 'brightest_star'] = new_values

# Change the gamma symbol to "Gamma"
regex_five = df3[df3.brightest_star.str.match('^γ.*')]
new_values = 'Gamma ' + regex_five.brightest_star.str[2:]
df3.loc[regex_five.index, 'brightest_star'] = new_values

In [32]:
# Delete "[9]" from star names
regex_one = df3[df3.brightest_star.str.match('.*[9]')]
new_values = regex_one.brightest_star.str[:-3]
df3.loc[regex_one.index, 'brightest_star'] = new_values

In [33]:
df3.brightest_star.values

array(['Alpheratz', 'Alpha Antliae', 'Alpha Apodis', 'Sadalsuud',
       'Altair', 'Beta Arae', 'Hamal', 'Capella', 'Arcturus',
       'Alpha Caeli', 'Beta Camelopardalis', 'Tarf', 'Cor Caroli',
       'Sirius', 'Procyon', 'Deneb Algedi', 'Canopus', 'Schedar',
       'Rigil Kentaurus', 'Alderamin', 'Diphda', 'Alpha Chamaeleontis',
       'Alpha Circini', 'Phact', 'Beta Comae Berenices', 'Meridiana',
       'Alphecca', 'Gienah', 'Delta Crateris', 'Acrux', 'Deneb',
       'Rotanev', 'Alpha Doradus', 'Eltanin', 'Kitalpha', 'Achernar',
       'Dalim', 'Pollux', 'Alnair', 'Kornephoros', 'Alpha Horologii',
       'Alphard', 'Beta Hydri', 'Alpha Indi', 'Alpha Lacertae', 'Regulus',
       'Praecipua', 'Arneb', 'Zubeneschamali', 'Alpha Lupi',
       'Alpha Lyncis', 'Vega', 'Alpha Mensae', 'Gamma Microscopii',
       'Beta Monocerotis', 'Alpha Muscae', 'Gamma  Normae', 'ν Octantis',
       'Rasalhague', 'Rigel', 'Peacock', 'Enif', 'Mirfak', 'Ankaa',
       'Alpha Pictoris', 'Alpherg', 'Fomalhaut', 'Naos', 'Alpha Pyxidis',
       'Alpha Reticuli', 'Gamma Sagittae', 'Kaus Australis', 'Antares',
       'Alpha Sculptoris', 'Alpha Scuti', 'Unukalhai', 'Alpha Sextantis',
       'Aldebaran', 'Alpha Telescopii', 'Beta Trianguli', 'Atria',
       'Alpha Tucanae', 'Alioth', 'Polaris', 'Gamma  Velorum', 'Spica',
       'Beta Volantis', 'Anser'], dtype=object)

The star names of each planet can now be obtained using the constellation table, and we can then attempt to make the constellation table as simple as possible by omitting the constellation names that we do not use. I decided to approach this project in that manner. You can, however, choose to keep the names of each constellation.

In [34]:
df_planet_star = pd.merge(df_planet_constellation, 
                          df3[['const_name', 'brightest_star']], 
                          how='inner', 
                          left_on='constellation', 
                          right_on='const_name')

df_planet_star = df_planet_star[['planet', 'brightest_star']]
df_planet_star = df_planet_star.rename(columns={'planet': 'name'})
df_planet_star

        name        brightest_star
0    Mercury                 Spica
1      Venus               Regulus
2      Ceres               Regulus
3      Earth       Rigil Kentaurus
4       Mars             Aldebaran
5      Sedna             Aldebaran
6    Jupiter                Diphda
7       Eris                Diphda
8     Saturn          Deneb Algedi
9     Uranus                 Hamal
10   Neptune             Sadalsuud
11  Gonggong             Sadalsuud
12     Varda             Sadalsuud
13     Orcus        Kaus Australis
14     Pluto        Kaus Australis
15    Haumea              Arcturus
16    Quaoar            Rasalhague
17  Makemake  Beta Comae Berenices
18   Salacia                  Enif

In [35]:
keep_constellation = df_planet_constellation.constellation.unique()
keep_constellation

array(['Virgo', 'Leo', 'Centaurus', 'Taurus', 'Cetus', 'Capricornus',
       'Aries', 'Aquarius', 'Sagittarius', 'Boötes', 'Ophiuchus',
       'Coma Berenices', 'Pegasus'], dtype=object)

In [36]:
df3 = df3[df3.const_name.isin(keep_constellation)]
df3 = df3.reset_index(drop=True)
df3

,const_name,genitive,abbreviations_iau,abbreviations_nasa,year_discovered,brightest_star
0,Aquarius,Aquarii,Aqr,Aqar,,Sadalsuud
1,Aries,Arietis,Ari,Arie,,Hamal
2,Boötes,Boötis,Boo,Boot,,Arcturus
3,Capricornus,Capricorni,Cap,Capr,,Deneb Algedi
4,Centaurus,Centauri,Cen,Cent,,Rigil Kentaurus
5,Cetus,Ceti,Cet,Ceti,,Diphda
6,Coma Berenices,Comae Berenices,Com,Coma,1536,Beta Comae Berenices
7,Leo,Leonis,Leo,Leon,,Regulus
8,Ophiuchus,Ophiuchi,Oph,Ophi,,Rasalhague
9,Pegasus,Pegasi,Peg,Pegs,,Enif
10,Sagittarius,Sagittarii,Sgr,Sgtr,,Kaus Australis
11,Taurus,Tauri,Tau,Taur,,Aldebaran
12,Virgo,Virginis,Vir,Virg,,Spica

Now that we have the constellation table, which includes star names, we can create a star table from it. That would indicate that the stars we will use are Sadalsuud, Hamal, Arcturus, Deneb Algedi, Rigil Kentaurus, Diphda, Beta Comae Berenices, Regulus, Rasalhague, Enif, Kaus Australis, Aldebaran, and Spica. 

If you remember "[Little Astronomy](https://littleastronomy.com/)," there are two links that we can use to construct a star table. Actually, it is made up of many star lists. And while I have made an effort to gather data from the website, doing so would require more work than simply manually gathering the data on each of our desired stars. Therefore, I will create a separate article about the web scraping process used to gather star tables from that website. For the time being, I'll just create a dictionary that we can later turn into a star table. 

We need also to remember that each star should have a foreign key that references one of the rows in the galaxy table. However, Little Astronomy doesn't provide information about the galaxy of each star, so I have to look it up on [this website](https://www.universeguide.com/). Don't forget to include the `star_id` column as well.

In [37]:
star_dict = {
    'star_id' : list(range(1, 14)),
    'name' : ['Sadalsuud', 'Hamal', 'Arcturus', 'Deneb Algedi', 'Rigil Kentaurus', 'Beta Comae Berenices', 
              'Regulus', 'Aldebaran', 'Diphda', 'Enif', 'Kaus Australis', 'Rasalhague', 'Spica'],
    'distance_in_light_years' : [612.00, 66, 37.00, 39, 4.36, 30.00, 77.00, 
                                 65.23, 96.22, 688.2, 143.2, 48.6, 260.9],
    'brightness_of_star' : [2.90, 2.01, 0.05, 2.85, 0.01, 4.26, 1.36, 
                            0.85, 2.04, 2.4, 1.85, 2.08, 1.04],
    'approval_date' : ['2016-08-21', '2016-07-20', '2016-06-30', '2017-02-01', '2016-11-06', np.NaN, 
                       '2016-06-30', '2016-06-30', '2016-08-21', '2016-07-20', '2016-07-20', '2016-07-20', '2016-06-30'],
    'galaxy' : ['Milky Way'] * 13
}

df_star = pd.DataFrame.from_dict(star_dict)
df_star

,star_id,name,distance_in_light_years,brightness_of_star,approval_date,galaxy
0,1,Sadalsuud,612.00,2.90,2016-08-21,Milky Way
1,2,Hamal,66.00,2.01,2016-07-20,Milky Way
2,3,Arcturus,37.00,0.05,2016-06-30,Milky Way
3,4,Deneb Algedi,39.00,2.85,2017-02-01,Milky Way
4,5,Rigil Kentaurus,4.36,0.01,2016-11-06,Milky Way
5,6,Beta Comae Berenices,30.00,4.26,NaN,Milky Way
6,7,Regulus,77.00,1.36,2016-06-30,Milky Way
7,8,Aldebaran,65.23,0.85,2016-06-30,Milky Way
8,9,Diphda,96.22,2.04,2016-08-21,Milky Way
9,10,Enif,688.20,2.40,2016-07-20,Milky Way
10,11,Kaus Australis,143.20,1.85,2016-07-20,Milky Way
11,12,Rasalhague,48.60,2.08,2016-07-20,Milky Way
12,13,Spica,260.90,1.04,2016-06-30,Milky Way

We can add a `star_id` column to the planet table now that we have (almost) completed the star table. Later, we will also replace the `galaxy` column in this star table with the `galaxy_id`.

## Creating the planet table (final)

In [38]:
# Add the star column to the planet table
df_planet = pd.merge(df_planet, df_planet_star, how='outer', on='name')

In [39]:
df_planet.head()

,planet_id,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere,brightest_star
0,0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,False,0.04,False,minimal,Spica
1,1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,False,177.30,False,"CO2, N2",Regulus
2,2,Earth,1.000,1.00,1.00,1.00,0.0,0.017,1.00,True,23.44,False,"N2, O2, Ar",Rigil Kentaurus
3,3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,True,25.19,False,"CO2, N2, Ar",Aldebaran
4,4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,True,3.13,True,"H2, He",Diphda

In [40]:
# Add the appropriate star_id to the planet table
df_planet = pd.merge(df_planet, df_star[['star_id', 'name']], how='inner', left_on='brightest_star', right_on='name')

In [41]:
# Omit the columns that are not needed
df_planet = df_planet.drop(columns=['name_y','brightest_star'])

# Change back the name of planet column to "name"
df_planet = df_planet.rename(columns={'name_x' : 'name'})

# Sort planet_id column and reset the index
df_planet = df_planet.sort_values(by='planet_id').reset_index(drop=True)

# Display the table
df_planet

,planet_id,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere,star_id
0,0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,False,0.04,False,minimal,13
1,1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,False,177.30,False,"CO2, N2",7
2,2,Earth,1.000,1.00,1.00,1.00,0.0,0.017,1.00,True,23.44,False,"N2, O2, Ar",5
3,3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,True,25.19,False,"CO2, N2, Ar",8
4,4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,True,3.13,True,"H2, He",9
5,5,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,True,26.73,True,"H2, He",4
6,6,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,True,97.77,True,"H2, He, CH4",2
7,7,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,True,28.32,True,"H2, He, CH4",1
8,9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,False,4,False,minimal,7
9,10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,NaN,True,NaN,NaN,NaN,11
10,11,Pluto,0.186,0.0022,39.48,247.9,17.14,0.249,6.39,True,119.6,False,"N2, CH4, CO",11
11,12,Haumea,0.13,0.0007,43.34,283.8,28.21,0.195,0.16,True,126,True,NaN,3
12,13,Quaoar,0.085,0.0002,43.69,288.0,7.99,0.038,0.74,True,NaN,True,NaN,12
13,14,Makemake,0.11,0.0005,45.79,306.2,28.98,0.161,0.95,True,NaN,NaN,minimal,6
14,15,Gonggong,0.10,0.0003,67.33,552.5,30.74,0.506,0.93,True,NaN,NaN,NaN,1
15,16,Eris,0.18,0.0028,67.67,559,44.04,0.436,15.79,True,78,NaN,NaN,9
16,17,Sedna,0.078,NaN,525.86,12059,11.93,0.855,0.43,False,NaN,NaN,NaN,8
17,18,Salacia,NaN,NaN,NaN,273.98,NaN,NaN,0.25,True,NaN,NaN,NaN,10
18,19,Varda,NaN,NaN,NaN,313.12,NaN,NaN,0.23,True,NaN,NaN,NaN,1

## Creating the constellation table (final)

The same procedures can also be applied to the constellation table to replace the star column with each star's id.

In [42]:
# Add the appropriate star_id to the constellation table
df_constellation = pd.merge(df3, df_star[['star_id', 'name']], how='inner', left_on='brightest_star', right_on='name')
df_constellation

,const_name,genitive,abbreviations_iau,abbreviations_nasa,year_discovered,brightest_star,star_id,name
0,Aquarius,Aquarii,Aqr,Aqar,,Sadalsuud,1,Sadalsuud
1,Aries,Arietis,Ari,Arie,,Hamal,2,Hamal
2,Boötes,Boötis,Boo,Boot,,Arcturus,3,Arcturus
3,Capricornus,Capricorni,Cap,Capr,,Deneb Algedi,4,Deneb Algedi
4,Centaurus,Centauri,Cen,Cent,,Rigil Kentaurus,5,Rigil Kentaurus
5,Cetus,Ceti,Cet,Ceti,,Diphda,9,Diphda
6,Coma Berenices,Comae Berenices,Com,Coma,1536,Beta Comae Berenices,6,Beta Comae Berenices
7,Leo,Leonis,Leo,Leon,,Regulus,7,Regulus
8,Ophiuchus,Ophiuchi,Oph,Ophi,,Rasalhague,12,Rasalhague
9,Pegasus,Pegasi,Peg,Pegs,,Enif,10,Enif
10,Sagittarius,Sagittarii,Sgr,Sgtr,,Kaus Australis,11,Kaus Australis
11,Taurus,Tauri,Tau,Taur,,Aldebaran,8,Aldebaran
12,Virgo,Virginis,Vir,Virg,,Spica,13,Spica

In [43]:
# Omit the columns that are not needed
df_constellation = df_constellation.drop(columns=['brightest_star', 'name'])

# Change back the name of planet column to "name"
df_constellation = df_constellation.rename(columns={'const_name' : 'name'})

# Add the "constellation_id" column
df_constellation.reset_index(inplace=True)
df_constellation.rename(columns={'index': 'constellation_id'}, inplace=True)
df_constellation['constellation_id'] += 1

# Display the table
df_constellation

,constellation_id,name,genitive,abbreviations_iau,abbreviations_nasa,year_discovered,star_id
0,1,Aquarius,Aquarii,Aqr,Aqar,,1
1,2,Aries,Arietis,Ari,Arie,,2
2,3,Boötes,Boötis,Boo,Boot,,3
3,4,Capricornus,Capricorni,Cap,Capr,,4
4,5,Centaurus,Centauri,Cen,Cent,,5
5,6,Cetus,Ceti,Cet,Ceti,,9
6,7,Coma Berenices,Comae Berenices,Com,Coma,1536,6
7,8,Leo,Leonis,Leo,Leon,,7
8,9,Ophiuchus,Ophiuchi,Oph,Ophi,,12
9,10,Pegasus,Pegasi,Peg,Pegs,,10
10,11,Sagittarius,Sagittarii,Sgr,Sgtr,,11
11,12,Taurus,Tauri,Tau,Taur,,8
12,13,Virgo,Virginis,Vir,Virg,,13

## Creating the last table: galaxy table (final)

We will now continue to use the same web scraping method as before to create the following table, the galaxy table.

In [44]:
# Import required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [45]:
page = requests.get('https://littleastronomy.com/galaxy-names/')
soup = BeautifulSoup(page.text, 'lxml')

# Initialize the table
headers = ['name', 'designation', 'constellation', 'meaning']
df_galaxy = pd.DataFrame(columns = headers)

# Enter data for each row into the dataframe
table = soup.find("table")
for table_row in table.find_all('tr')[1:]:
  data = [table_data.text.strip() for table_data in table_row.find_all('td')]
  df_galaxy.loc[len(df_galaxy)] = data

# Delete "designation" column
df_galaxy = df_galaxy.drop(columns='designation')

# Add the contellation (center) of Milky Way 
df_galaxy.loc[26, 'constellation'] = 'Sagittarius'

# Show a snippet of the table.
df_galaxy

,name,constellation,meaning
0,Andromeda,Andromeda,"In mythology, Andromeda is the daughter of the..."
1,Antennae Galaxy,Corvus,This is a dual galaxy. It gets its name becaus...
2,Backward Galaxy,Centaurus,It seems to rotate in the opposite direction t...
3,Black Eye Galaxy,Coma Berenices,It looks like an eye with a dark stripe undern...
4,Bode’s Galaxy,Ursa Major,"Named after the astronomer who discovered it, ..."
5,Butterfly Galaxies,Virgo,Binary galaxies. It looks like a pair of butte...
6,Cartwheel Galaxy,Sculptor,It looks a bit like a cartwheel
7,Centaurus A,Centaurus,Named because it’s located in the Centaurus co...
8,Cigar Galaxy,Ursa Major,It is shaped like a cigar
9,Circinus,Circinus,Latin for compass. Named after the constellati...
10,Coma Pinwheel Galaxy,Coma Berenices,It looks like a paper pinwheel
11,Comet Galaxy,Sculptor,It’s unusually shaped like a comet
12,Cosmos Redshift 7,Sextans,It’s the brightest of the distant galaxies. It...
13,Eye of Sauron,Canes Venatici,"Looks like the eye of Sauron, from Lord of the..."
14,Fireworks Galaxy,Cygnus,It is extremely bright and has lots of colors.
15,Hockey stick galaxy,Canes Venatici,Looks like a hockey stick. It might be 3 galax...
16,Hoag’s Galaxy,Serpens,"Named after its discoverer, Art Hoag"
17,Large Magellanic Cloud,Dorado,Named after Ferdinand Magellan
18,Lindsay-Shapley Ring,Volans,"Ring galaxy, named after its discoverer Eric L..."
19,Little Sombrero Galaxy,Pegasus,"It looks like a sombrero, but it’s smaller tha..."
20,Malin 1,Coma Berenices,"Named after its discoverer, David Malin"
21,Medusa Merger,Ursa Major,Named after the snakes in the Greek myth of Me...
22,Sculptor Dwarf Galaxy,Sculptor,Named because it’s located in the Sculptor con...
23,Mice Galaxies,Coma Berenices,Two galaxies with long tails that look like a ...
24,Small Magellanic Cloud,Tucana,Named after Ferdinand Magellan
25,Mayall’s Object,Ursa Major,"Named after its discoverer, Nicholas Mayall"
26,Milky Way,Sagittarius,Our own galaxy. It is said to look like a band...
27,Needle Galaxy,Coma Berenices,Named because of its thin appearance
28,Wolf-Lundmark-Melotte,Cetus,Named after the astronomers that co-discovered it
29,Pinwheel Galaxy,Ursa Major,It looks like a paper pinwheel
30,Sculptor Galaxy,Sculptor,Named because it’s located in the Sculptor con...
31,Sombrero Galaxy,Virgo,Looks like a sombrero
32,Southern Pinwheel Galaxy,Hydra,Named because it looks similar to the Pinwheel...
33,Sunflower Galaxy,Canes Venatici,Named because it looks a bit a sunflower
34,Tadpole Galaxy,Draco,"It has a long tail, like a tadpole"
35,Triangulum Galaxy,Triangulum,It’s located in the Triangulum Constellation
36,Whirlpool Galaxy,Canes Venatici,Named because it looks like a whirlpool

The table contains a total of 37 galaxies. Additionally, it contains a constellation column. Therefore, in order to keep things simple, I only want to keep a few of the names of the galaxies from the table. I will only use the galaxy's name whose constellation is listed in the previous constellation table in order to accomplish that.

In [46]:
kept_constellation = df_constellation.name.values
df_galaxy = df_galaxy[df_galaxy.constellation.isin(kept_constellation)].reset_index(drop=True)
df_galaxy

,name,constellation,meaning
0,Backward Galaxy,Centaurus,It seems to rotate in the opposite direction t...
1,Black Eye Galaxy,Coma Berenices,It looks like an eye with a dark stripe undern...
2,Butterfly Galaxies,Virgo,Binary galaxies. It looks like a pair of butte...
3,Centaurus A,Centaurus,Named because it’s located in the Centaurus co...
4,Coma Pinwheel Galaxy,Coma Berenices,It looks like a paper pinwheel
5,Little Sombrero Galaxy,Pegasus,"It looks like a sombrero, but it’s smaller tha..."
6,Malin 1,Coma Berenices,"Named after its discoverer, David Malin"
7,Mice Galaxies,Coma Berenices,Two galaxies with long tails that look like a ...
8,Milky Way,Sagittarius,Our own galaxy. It is said to look like a band...
9,Needle Galaxy,Coma Berenices,Named because of its thin appearance
10,Wolf-Lundmark-Melotte,Cetus,Named after the astronomers that co-discovered it
11,Sombrero Galaxy,Virgo,Looks like a sombrero

I will use the details of galaxies that are visible to the naked eye from [this website](https://en.wikipedia.org/wiki/List_of_galaxies) to create one more column. If a galaxy can be seen with the naked eye, it will be set to True; otherwise, it will be set to False. I do this because at least two columns must use the BOOLEAN data type in this database. To meet the requirement, let's add a column to this galaxy table since we already had one in the planet table.

In [47]:
visible_galaxy = ['Milky Way', 'Large Magellanic Cloud', 'Small Magellanic Cloud', 'Andromeda', 
                  'Triangulum Galaxy', 'Centaurus A', 'Bode’s Galaxy', 'Sculptor Galaxy']
df_galaxy['is_visible_to_naked_eye'] = df_galaxy.apply(lambda row : True if row['name'] in visible_galaxy else False, axis=1)
df_galaxy

,name,constellation,meaning,is_visible_to_naked_eye
0,Backward Galaxy,Centaurus,It seems to rotate in the opposite direction t...,False
1,Black Eye Galaxy,Coma Berenices,It looks like an eye with a dark stripe undern...,False
2,Butterfly Galaxies,Virgo,Binary galaxies. It looks like a pair of butte...,False
3,Centaurus A,Centaurus,Named because it’s located in the Centaurus co...,True
4,Coma Pinwheel Galaxy,Coma Berenices,It looks like a paper pinwheel,False
5,Little Sombrero Galaxy,Pegasus,"It looks like a sombrero, but it’s smaller tha...",False
6,Malin 1,Coma Berenices,"Named after its discoverer, David Malin",False
7,Mice Galaxies,Coma Berenices,Two galaxies with long tails that look like a ...,False
8,Milky Way,Sagittarius,Our own galaxy. It is said to look like a band...,True
9,Needle Galaxy,Coma Berenices,Named because of its thin appearance,False
10,Wolf-Lundmark-Melotte,Cetus,Named after the astronomers that co-discovered it,False
11,Sombrero Galaxy,Virgo,Looks like a sombrero,False

It is now time to add the galaxy's id and replace the `constellation` column with its id number.

In [48]:
# Add the appropriate constellation_id to the galaxy table
df_galaxy = pd.merge(df_galaxy, 
                     df_constellation[['constellation_id', 'name']], 
                     how='inner', 
                     left_on='constellation', 
                     right_on='name')

# Omit the columns that are not needed
df_galaxy = df_galaxy.drop(columns=['constellation', 'name_y'])

# Change back the name of planet column to "name"
df_galaxy = df_galaxy.rename(columns={'name_x' : 'name'})

# Add the "galaxy_id" column
df_galaxy.reset_index(inplace=True)
df_galaxy.rename(columns={'index': 'galaxy_id'}, inplace=True)
df_galaxy['galaxy_id'] += 1

# Display the table
df_galaxy

,galaxy_id,name,meaning,is_visible_to_naked_eye,constellation_id
0,1,Backward Galaxy,It seems to rotate in the opposite direction t...,False,5
1,2,Centaurus A,Named because it’s located in the Centaurus co...,True,5
2,3,Black Eye Galaxy,It looks like an eye with a dark stripe undern...,False,7
3,4,Coma Pinwheel Galaxy,It looks like a paper pinwheel,False,7
4,5,Malin 1,"Named after its discoverer, David Malin",False,7
5,6,Mice Galaxies,Two galaxies with long tails that look like a ...,False,7
6,7,Needle Galaxy,Named because of its thin appearance,False,7
7,8,Butterfly Galaxies,Binary galaxies. It looks like a pair of butte...,False,13
8,9,Sombrero Galaxy,Looks like a sombrero,False,13
9,10,Little Sombrero Galaxy,"It looks like a sombrero, but it’s smaller tha...",False,10
10,11,Milky Way,Our own galaxy. It is said to look like a band...,True,11
11,12,Wolf-Lundmark-Melotte,Named after the astronomers that co-discovered it,False,6

## Creating the star table (final)

You might also want to go back and check the star table to make sure that each star on our table belongs to the Milky Way galaxy. Its id number is 11, according to the galaxy table. Therefore, we can simply delete the previous galaxy column and add a new column with the id of the Milky Way galaxy.

In [49]:
df_star['galaxy_id'] = [11] * len(df_star)
df_star = df_star.drop(columns='galaxy')
df_star

,star_id,name,distance_in_light_years,brightness_of_star,approval_date,galaxy_id
0,1,Sadalsuud,612.00,2.90,2016-08-21,11
1,2,Hamal,66.00,2.01,2016-07-20,11
2,3,Arcturus,37.00,0.05,2016-06-30,11
3,4,Deneb Algedi,39.00,2.85,2017-02-01,11
4,5,Rigil Kentaurus,4.36,0.01,2016-11-06,11
5,6,Beta Comae Berenices,30.00,4.26,NaN,11
6,7,Regulus,77.00,1.36,2016-06-30,11
7,8,Aldebaran,65.23,0.85,2016-06-30,11
8,9,Diphda,96.22,2.04,2016-08-21,11
9,10,Enif,688.20,2.40,2016-07-20,11
10,11,Kaus Australis,143.20,1.85,2016-07-20,11
11,12,Rasalhague,48.60,2.08,2016-07-20,11
12,13,Spica,260.90,1.04,2016-06-30,11

I believe the job is done. Five tables about the moon, planets, stars, galaxies, and constellations are now available. We have complied with all requirements. Each table we created is given below.

## ALL TABLES

In [50]:
df_moons2

,moon_id,name,equatorial_diameter,mass,semi_major_axis_km,orbital_period_days,inclination_to_primary_equator_degrees,orbital_eccentricity,atmosphere,planet_id
0,1,Moon,0.272,0.0123,384399,27.322,23.435,0.0549,minimal,3
1,2,Io,0.285,0.0150,421600,1.769,0.04,0.0041,minimal,5
2,3,Europa,0.246,0.00804,670900,3.551,0.47,0.009,minimal,5
3,4,Ganymede,0.413,0.0248,1070400,7.155,1.85,0.0013,minimal,5
4,5,Callisto,0.378,0.0180,1882700,16.689,0.2,0.0074,minimal,5
5,6,Mimas,0.031,0.00000628,185520,0.942,1.51,0.0202,NaN,6
6,7,Enceladus,0.04,0.0000181,237948,1.370,0.02,0.0047,minimal,6
7,8,Tethys,0.084,0.000103,294619,1.888,1.51,0.02,NaN,6
8,9,Dione,0.088,0.000183,377396,2.737,0.019,0.002,minimal,6
9,10,Rhea,0.12,0.000386,527108,4.518,0.345,0.001,minimal,6
10,11,Titan,0.404,0.0225,1221870,15.945,0.33,0.0288,"N2, CH4",6
11,12,Iapetus,0.115,0.000302,3560820,79.322,14.72,0.0286,NaN,6
12,13,Miranda,0.037,0.0000110,129390,1.414,4.22,0.0013,NaN,7
13,14,Ariel,0.091,0.000226,190900,2.520,0.31,0.0012,NaN,7
14,15,Umbriel,0.092,0.00020,266000,4.144,0.36,0.005,NaN,7
15,16,Titania,0.124,0.00059,436300,8.706,0.14,0.0011,NaN,7
16,17,Oberon,0.119,0.000505,583519,13.46,0.10,0.0014,NaN,7
17,18,Triton,0.212,0.00358,354759,5.877,157,0.00002,"N2, CH4",8
18,19,Charon,0.095,0.000255,17536,6.387,0.001,0.0022,NaN,11
19,20,Dysnomia,0.057,0.000015,37300,15.786,0,0.0062,NaN,16
21,21,Actaea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
22,22,Ilmarë,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19

In [51]:
df_planet

,planet_id,name,equatorial_diameter,mass,semi_major_axis_AU,orbital_period_years,inclination_to_the_eliptic_degrees,orbital_eccentricity,rotation_period_days,has_moon,axial_tilt_degrees,rings,atmosphere,star_id
0,0,Mercury,0.383,0.06,0.39,0.24,7.00,0.206,58.65,False,0.04,False,minimal,13
1,1,Venus,0.949,0.81,0.72,0.62,3.39,0.007,243.02,False,177.30,False,"CO2, N2",7
2,2,Earth,1.000,1.00,1.00,1.00,0.0,0.017,1.00,True,23.44,False,"N2, O2, Ar",5
3,3,Mars,0.532,0.11,1.52,1.88,1.85,0.093,1.03,True,25.19,False,"CO2, N2, Ar",8
4,4,Jupiter,11.209,317.83,5.20,11.86,1.30,0.048,0.41,True,3.13,True,"H2, He",9
5,5,Saturn,9.449,95.16,9.54,29.45,2.49,0.054,0.44,True,26.73,True,"H2, He",4
6,6,Uranus,4.007,14.54,19.19,84.02,0.773,0.047,0.72,True,97.77,True,"H2, He, CH4",2
7,7,Neptune,3.883,17.15,30.07,164.79,1.77,0.009,0.67,True,28.32,True,"H2, He, CH4",1
8,9,Ceres,0.0742,0.00016,2.77,4.60,10.59,0.080,0.38,False,4,False,minimal,7
9,10,Orcus,0.072,0.0001,39.42,247.5,20.59,0.226,NaN,True,NaN,NaN,NaN,11
10,11,Pluto,0.186,0.0022,39.48,247.9,17.14,0.249,6.39,True,119.6,False,"N2, CH4, CO",11
11,12,Haumea,0.13,0.0007,43.34,283.8,28.21,0.195,0.16,True,126,True,NaN,3
12,13,Quaoar,0.085,0.0002,43.69,288.0,7.99,0.038,0.74,True,NaN,True,NaN,12
13,14,Makemake,0.11,0.0005,45.79,306.2,28.98,0.161,0.95,True,NaN,NaN,minimal,6
14,15,Gonggong,0.10,0.0003,67.33,552.5,30.74,0.506,0.93,True,NaN,NaN,NaN,1
15,16,Eris,0.18,0.0028,67.67,559,44.04,0.436,15.79,True,78,NaN,NaN,9
16,17,Sedna,0.078,NaN,525.86,12059,11.93,0.855,0.43,False,NaN,NaN,NaN,8
17,18,Salacia,NaN,NaN,NaN,273.98,NaN,NaN,0.25,True,NaN,NaN,NaN,10
18,19,Varda,NaN,NaN,NaN,313.12,NaN,NaN,0.23,True,NaN,NaN,NaN,1

In [52]:
df_star

,star_id,name,distance_in_light_years,brightness_of_star,approval_date,galaxy_id
0,1,Sadalsuud,612.00,2.90,2016-08-21,11
1,2,Hamal,66.00,2.01,2016-07-20,11
2,3,Arcturus,37.00,0.05,2016-06-30,11
3,4,Deneb Algedi,39.00,2.85,2017-02-01,11
4,5,Rigil Kentaurus,4.36,0.01,2016-11-06,11
5,6,Beta Comae Berenices,30.00,4.26,NaN,11
6,7,Regulus,77.00,1.36,2016-06-30,11
7,8,Aldebaran,65.23,0.85,2016-06-30,11
8,9,Diphda,96.22,2.04,2016-08-21,11
9,10,Enif,688.20,2.40,2016-07-20,11
10,11,Kaus Australis,143.20,1.85,2016-07-20,11
11,12,Rasalhague,48.60,2.08,2016-07-20,11
12,13,Spica,260.90,1.04,2016-06-30,11

In [53]:
df_galaxy

,galaxy_id,name,meaning,is_visible_to_naked_eye,constellation_id
0,1,Backward Galaxy,It seems to rotate in the opposite direction t...,False,5
1,2,Centaurus A,Named because it’s located in the Centaurus co...,True,5
2,3,Black Eye Galaxy,It looks like an eye with a dark stripe undern...,False,7
3,4,Coma Pinwheel Galaxy,It looks like a paper pinwheel,False,7
4,5,Malin 1,"Named after its discoverer, David Malin",False,7
5,6,Mice Galaxies,Two galaxies with long tails that look like a ...,False,7
6,7,Needle Galaxy,Named because of its thin appearance,False,7
7,8,Butterfly Galaxies,Binary galaxies. It looks like a pair of butte...,False,13
8,9,Sombrero Galaxy,Looks like a sombrero,False,13
9,10,Little Sombrero Galaxy,"It looks like a sombrero, but it’s smaller tha...",False,10
10,11,Milky Way,Our own galaxy. It is said to look like a band...,True,11
11,12,Wolf-Lundmark-Melotte,Named after the astronomers that co-discovered it,False,6

In [54]:
df_constellation

,constellation_id,name,genitive,abbreviations_iau,abbreviations_nasa,year_discovered,star_id
0,1,Aquarius,Aquarii,Aqr,Aqar,,1
1,2,Aries,Arietis,Ari,Arie,,2
2,3,Boötes,Boötis,Boo,Boot,,3
3,4,Capricornus,Capricorni,Cap,Capr,,4
4,5,Centaurus,Centauri,Cen,Cent,,5
5,6,Cetus,Ceti,Cet,Ceti,,9
6,7,Coma Berenices,Comae Berenices,Com,Coma,1536,6
7,8,Leo,Leonis,Leo,Leon,,7
8,9,Ophiuchus,Ophiuchi,Oph,Ophi,,12
9,10,Pegasus,Pegasi,Peg,Pegs,,10
10,11,Sagittarius,Sagittarii,Sgr,Sgtr,,11
11,12,Taurus,Tauri,Tau,Taur,,8
12,13,Virgo,Virginis,Vir,Virg,,13